<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate" [showBackButton]="false">
  <!-- <button mat-icon-button class="toolbar-option" (click)="saveProfile()">
    <mat-icon>save</mat-icon>
  </button> -->
</app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container slide-in-left-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "PROFILE_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "PROFILE_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>

    <div class="panel">
      <div [formGroup]="profileForm" class="panel__details-group-panel">
        <div class="panel__header-section">
          <label>{{
            "PROFILE_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE" | translate
            }}</label>
        </div>
        <div class="panel__body-section">
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.FIRSTNAME_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="firstName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.MIDDLENAME_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="middleName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.LASTNAME_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="lastName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.EMAIL_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="email" formControlName="emailAddress" />
            <mat-error *ngIf="profileForm.get('emailAddress').hasError('email')">
              {{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.EMAIL_CONTROL.INVALID_EMAIL_ERROR_MESSAGE"
              | translate
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.USERNAME_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="email" formControlName="username" />

            <mat-error *ngIf="
                profileForm.get('username')?.hasError('usernameAlreadyExists')
              ">
              {{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.USERNAME_CONTROL.ALREADY_EXIST_ERROR_MESSAGE"
              | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.NEW_PASSWORD_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="password" formControlName="newPassword" />

            <mat-error *ngIf="profileForm.get('newPassword').hasError('pattern')">
              {{
              "PROFILE_PAGE.FORM_CONTROL_SECTION.NEW_PASSWORD_CONTROL.PASSWORD_NOT_STRONG_ERROR_MESSAGE"
              | translate
              }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="panel__footer-section">
          <button mat-raised-button color="primary" (click)="saveProfile()">Save</button>
        </div>
      </div>
    </div>
  </div>
</app-loader-layout>
