<app-screen-not-supported *ngIf="isHandset"></app-screen-not-supported>
<div *ngIf="!isHandset">
  <router-outlet name="adminDashboard"></router-outlet>
  <mat-toolbar class="bottom-nav-container">
    <button mat-flat-button routerLink="/dashboard" routerLinkActive="active-link" outlet="adminDashboard">
      <mat-icon>home</mat-icon>
      <span *ngIf="!isHandset">{{ "DASHBOARD_ADMIN.MAIN_MENU.HOME" | translate }}</span>
    </button>
    <button mat-flat-button routerLink="/dashboard/distribution" routerLinkActive="active-link" outlet="adminDashboard">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="!isHandset">{{ "DASHBOARD_ADMIN.MAIN_MENU.DISTRIBUTION" | translate }}</span>
    </button>
    <button mat-flat-button routerLink="/dashboard/insights" routerLinkActive="active-link" outlet="adminDashboard">
      <mat-icon>bar_chart</mat-icon>
      <span *ngIf="!isHandset">{{ "DASHBOARD_ADMIN.MAIN_MENU.INSIGHTS" | translate }}</span>
    </button>
    <button mat-flat-button routerLink="/dashboard/warehouse" routerLinkActive="active-link" outlet="adminDashboard">
      <mat-icon>store
      </mat-icon>
      <span *ngIf="!isHandset">{{ "DASHBOARD_ADMIN.MAIN_MENU.WAREHOUSE" | translate }}</span>
    </button>
    <button mat-flat-button routerLink="/dashboard/accounts" routerLinkActive="active-link" outlet="adminDashboard">
      <mat-icon>person_pin</mat-icon>
      <span *ngIf="!isHandset">{{ "DASHBOARD_ADMIN.MAIN_MENU.ACCOUNTS" | translate }}</span>
    </button>
    <button mat-flat-button (click)="signOut()">
      <mat-icon>remove_circle_outline</mat-icon>
      <span *ngIf="!isHandset">{{ "DASHBOARD_ADMIN.MAIN_MENU.LOGOUT" | translate }}</span>
    </button>
  </mat-toolbar>
</div>
