<mat-toolbar class="bottom-nav-container">
  <button mat-flat-button routerLink="/dashboard" routerLinkActive="active-link" outlet="adminDashboard">
    <mat-icon>home</mat-icon>
    <span *ngIf="!isHandset">Home</span>
  </button>
  <button mat-flat-button routerLink="/dashboard/warehouse" routerLinkActive="active-link" outlet="adminDashboard">
    <mat-icon>store
    </mat-icon>
    <span *ngIf="!isHandset">Warehouse</span>
  </button>
  <button mat-flat-button routerLink="/dashboard/distribution" routerLinkActive="active-link" outlet="adminDashboard">
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="!isHandset">Distribution</span>
  </button>
  <button mat-flat-button routerLink="/dashboard/insights" routerLinkActive="active-link" outlet="adminDashboard">
    <mat-icon>bar_chart</mat-icon>
    <span *ngIf="!isHandset">Insights</span>
  </button>
  <button mat-flat-button (click)="signOut()">
    <mat-icon>remove_circle_outline</mat-icon>
    <span *ngIf="!isHandset">Logout</span>
  </button>
</mat-toolbar>
