<div class="product-list-container">
  <div class="page-container product-list-container__page-container slide-in-left-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "DASHBOARD_ADMIN.DISTRIBUTION_PAGE.SALES_AGENT_DETAILS_SECTION.PRODUCT_LIST_CONTAINER.TITLE" | translate
        }}</label><br />
      <span class="page-information-description">{{
        "DASHBOARD_ADMIN.DISTRIBUTION_PAGE.SALES_AGENT_DETAILS_SECTION.PRODUCT_LIST_CONTAINER.DESCRIPTION" | translate
        }}</span>
    </div>
    <app-search-field (onSearch)="searchProduct($event)" [placeHolderTextIdentifier]="
'PRODUCTS_CATALOGUE_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER'
"></app-search-field>

    <div class="product-total-count-container" *ngIf="filterKeyword?.length > 0">
      <span>{{ 'PRODUCTS_CATALOGUE_PAGE.PRODUCT_SEARCH_RESULT_CONTAINER.LABEL' | translate }}: </span><span
        class="product-total-count-container__value">{{ totalProducts }} items</span>
    </div>

    <app-list-container [templateSize]="_templateSize.SMALL" [templateType]="emptyEntityTemplateEnum.PRODUCTS"
      [count]="productDataSource?.itemCount">
      <cdk-virtual-scroll-viewport itemSize="10" orientation="vertical" class="list-container">
        <div *cdkVirtualFor="let item of productDataSource">
          <app-product-card-item [productItem]="item" [allowManageItem]="false" [filterKeyword]="filterKeyword"
            [hideHeaderOptions]="true" (selectItem)="selectItemEvent($event)"></app-product-card-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</div>
