@import "../../../../app-variables";

.product-list-container {
  &__page-container {
    background: $white;

    .list-container {
      height: 42vh;
    }
  }
}

.product-total-count-container {
  &__value {
    padding: 5px 10px;
    background-color: $primary;
    border-radius: 15px;
    color: $white;
  }
}
