@import "../../app-variables";

:host {
  display: flex;
  justify-content: space-around;
}

.offline-page-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  padding: 0px 25px;
  max-width: 500px;

  &__content {
    align-self: center;
    text-align: center;
    width: 100%;
  }

  &__title {
    font-size: 45px;
  }
}
