<app-tool-bar [title]="transationDate"> </app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "DRAFT_TRANSACTIONS_PAGE.TITLE" | translate }}</label
      ><br />
      <span class="page-information-description">{{
        "DRAFT_TRANSACTIONS_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>

    <app-list-container
      [templateType]="emptyEntityTemplateEnum.TRANSACTIONS"
      [count]="transactions?.length"
    >
      <cdk-virtual-scroll-viewport itemSize="60" class="list-container">
        <div *cdkVirtualFor="let item of transactions">
          <div
            matRipple
            class="transaction-date list-container__item-section list-container__item-section--justify-content-space-between"
            (click)="goToTransaction(item.id)"
          >
            <span>{{ item.store.name }}</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</app-loader-layout>
