<app-tool-bar [title]="transationDate"> </app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "TRANSACTION_PAGE.TITLE" | translate }}</label
      ><br />
      <span class="page-information-description">{{
        "TRANSACTION_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>

    <cdk-virtual-scroll-viewport itemSize="60" class="list-container transaction-list">
      <div *cdkVirtualFor="let item of transactions">
        <div
          matRipple
          class="transaction-date list-container__item-section list-container__item-section--justify-content-space-between"
          [ngClass]="{ unpaid: item.hasUnpaidProductTransaction }"
          (click)="goToTransaction(item.id)"
        >
          <span>{{ item.store.name }}</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</app-loader-layout>
