<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate" [showBackButton]="false"></app-tool-bar>

<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container scale-in-center-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "WAREHOUSE_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "WAREHOUSE_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>
    <app-search-field [filter]="true" (onSearch)="onSearch($event)" (onClear)="onClear()" (onFilter)="openFilter()"
      [placeHolderTextIdentifier]="
        'PRODUCTS_CATALOGUE_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER'
      " [filterActive]="productsFilter().isActive()"></app-search-field>

    <div class="product-list-status-bar-container">

      @if(filterKeyword()?.length > 0) {
      <div class="product-list-status-bar-container__search-result-counter-section">
        <span>{{ 'PRODUCTS_CATALOGUE_PAGE.PRODUCT_SEARCH_RESULT_CONTAINER.LABEL' | translate }}: </span>
        <app-badge class="value" [type]="bannerTypeEnum.WARNING" [label]="totalProducts().toString()"></app-badge>
      </div>
      }

      @if(filterKeyword()?.length === 0) {
      <div class="product-list-status-bar-container__total-products-counter-section">
        <span>{{ 'PRODUCTS_CATALOGUE_PAGE.PRODUCT_COUNTER_CONTAINER.LABEL' | translate }}: </span>
        <app-badge class="value" [type]="bannerTypeEnum.WARNING" [label]="totalProducts().toString()"></app-badge>
      </div>
      }
    </div>

    <app-list-container [templateType]="emptyEntityTemplateEnum.PRODUCTS" [count]="dataSource?.itemCount">
      <cdk-virtual-scroll-viewport itemSize="10" orientation="vertical" class="list-container product-list">
        <div *cdkVirtualFor="let item of dataSource">
          <app-product-card-item [allowCopyItem]="true" [hideDeductionCounterIcon]="true" [productItem]="item"
            [filterKeyword]="filterKeyword()" [allowManageItem]="true" [allowAddItem]="true"
            (editItem)="editProduct($event)" (selectItem)="editProduct($event)" (deleteItem)="deleteProduct($event)"
            (addStockQuantity)="addProductStockQuantity()" (transferProduct)="transferProductInventory($event)"
            (copyItem)="copyProductItem($event)"></app-product-card-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>

  <app-floating-button (tapButton)="productImport()" [icon]="'note_add'" [bottom]="155"></app-floating-button>
  <app-floating-button (tapButton)="addProduct()" [icon]="'add'"></app-floating-button>
</app-loader-layout>
