<div class="list-container-component">
  @if (count() === 0) {
  <div class="list-container-component__empty-list-container">
    <app-placeholder-entities [templateType]="templateType()"
      [templateSize]="templateSize()"></app-placeholder-entities>

    @if (labelInfo().length > 0) {
    <div class="list-container-component__empty-list-label-information">
      <app-banner [type]="bannerType.INFO">
        <label> {{ labelInfo() }}</label>
      </app-banner>
    </div>
    }
  </div>
  }

  @if (count() > 0) {
  <ng-content></ng-content>
  }
</div>
