.list-container-component {
  &__empty-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
  }

  &__empty-list-label-information {
    display: flex;
    justify-content: space-around;
  }
}
