@import "../../../app-variables";

.user-card-container {
  background: $primary-gradient;
  border-radius: 10px;
  box-shadow: 0px 1px 7px 8px rgb(0 0 0 / 11%);
  color: $white;
  display: flex;
  gap: 1em;
  height: 3.5em;
  margin: -15px 10px;
  padding: 1em;

  &__user-icon-container {
    align-self: center;

    img {
      box-sizing: border-box;
      width: 3em;
    }
  }

  &__user-name-container {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    align-self: center;
    .greetings {
      font-size: 1.5em;
    }

    .user-type {
      font-size: 0.8em;
    }
  }
}
