<div matRipple class="user-card-container scale-in-center-animation" (click)="goToProfile()">
  <div class="user-card-container__user-icon-container">
    <img src="../../../assets/icons/user-icon.png" />
  </div>
  <div class="user-card-container__user-name-container">
    <span class="greetings">{{ user?.firstName }} {{ user?.lastName[0] }}.</span><br />
    <span class="user-type">{{ getUserType }}</span>
  </div>
  <div class="user-card-container__arrow-icon"><mat-icon>keyboard_arrow_right</mat-icon></div>
</div>
