@import "../../../app-variables";

.insights-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;

  &__panel {
    height: 78vh;
  }

  &__page-container {
    background: $white;
  }
}
