@import "../../../app-variables";

.insights-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;

  &__panel {
    height: 78vh;
    width: 50%;
  }

  &__page-container {
    background: $white;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
