<app-tool-bar [title]="'DASHBOARD_ADMIN.INSIGHTS_PAGE.TITLE' | translate" [showBackButton]="false"></app-tool-bar>
<app-loader-layout [busy]="false">
  <div class="page-container scale-in-center-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "DASHBOARD_ADMIN.INSIGHTS_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "DASHBOARD_ADMIN.INSIGHTS_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>

    <div class="insights-container">
      <div class="panel panel--full-width insights-container__panel">
        <div class="panel__header-section">
          <label>{{ "DASHBOARD_ADMIN.INSIGHTS_PAGE.TOP_SELLING_PRODUCTS_CHART_SECTION.TITLE" | translate }}</label>
        </div>
        <div class="panel__body-section">
          <app-top-selling-products-chart></app-top-selling-products-chart>
        </div>
      </div>

      <div class="insights-container__panel insights-container__page-container">
        <div class="panel panel--full-width insights-container__top-sales-container-panel">
          <div class="panel__header-section">
            <label>{{ "DASHBOARD_ADMIN.INSIGHTS_PAGE.TOP_CUSTOMER_STORE_LIST_SECTION.TITLE" | translate }}</label>
          </div>
          <div class="panel__body-section">
            <app-top-customer-sales></app-top-customer-sales>
          </div>
        </div>
        <div class="panel panel--full-width insights-container__top-selling-products-container-panel">
          <div class="panel__header-section">
            <label>{{ "DASHBOARD_ADMIN.INSIGHTS_PAGE.TOP_SELLING_PRODUCTS_LIST_SECTION.TITLE" | translate }}</label>
          </div>
          <div class="panel__body-section">
            <app-top-selling-products-list></app-top-selling-products-list>
          </div>
        </div>
      </div>

    </div>
  </div>
</app-loader-layout>
