<div class="sales-information-container">
  <app-sales-chart-view></app-sales-chart-view>

  <div class="chart-filter-container">
    <div class="sales-date-filter-container">
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 1
}" (click)="setFilterOption(1)">
        {{ "GENERAL_TEXTS.DAILY" | translate }}
      </div>
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 2
}" (click)="setFilterOption(2)">
        {{ "GENERAL_TEXTS.WEEKLY" | translate }}
      </div>
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 3
}" (click)="setFilterOption(3)">
        {{ "GENERAL_TEXTS.MONTHLY" | translate }}
      </div>
    </div>

    <div class="sales-date-filter-options" [formGroup]="filterForm">
      <div *ngIf="currentFilterOption === 1">
        <mat-form-field class="transaction-date" appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.PICK_DATE" | translate
            }}:</mat-label>
          <input matInput (dateChange)="dateChange($event)" [matDatepicker]="picker" formControlName="day" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="currentFilterOption === 2">
        <mat-form-field appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.PICK_WEEK" | translate
            }}:</mat-label>
          <mat-select formControlName="week" (selectionChange)="weekChange($event)">
            <mat-option *ngFor="let week of weekOptions; index as i" [value]="i">{{ week }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="currentFilterOption === 3">
        <mat-form-field appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.PICK_MONTH" | translate
            }}:</mat-label>
          <mat-select formControlName="month" (selectionChange)="monthChange($event)">
            <mat-option *ngFor="let month of monthlyOptions; index as i" [value]="i">{{ month
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="panel sales-information-panel">
      <div class="sales-information-panel__amount-container">
        <label>{{ "SALES_PAGE.SALES_PANEL.LABEL" | translate }}:</label>
        <span class="scale-in-center-animation" *ngIf="!isLoading">{{
          sales
          }}</span>
      </div>
      <div *ngIf="!isLoading" class="sales-information-panel__amount-breakdown-container">
        <div></div>
        <div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.CASH_ON_HAND_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              cashOnHand
              }}</span>
          </div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.CHEQUE_ON_HAND_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              chequeOnHand
              }}</span>
          </div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.ACCOUNT_RECEIVABLES_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              accountReceivables
              }}</span>
          </div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.BAD_ORDERS_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              badOrders
              }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
