<div class="sales-information-container">
  <app-sales-chart-view [width]="800"></app-sales-chart-view>

  <div class="chart-filter-container">
    <div class="sales-date-filter-container">
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 1
}" (click)="setFilterOption(1)">
        {{ "GENERAL_TEXTS.DAILY" | translate }}
      </div>
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 2
}" (click)="setFilterOption(2)">
        {{ "GENERAL_TEXTS.WEEKLY" | translate }}
      </div>
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 3
}" (click)="setFilterOption(3)">
        {{ "GENERAL_TEXTS.MONTHLY" | translate }}
      </div>
      <div class="sales-date-filter-container__filter-options" [ngClass]="{
  'sales-date-filter-container__filter-options--active':
    currentFilterOption === 4
}" (click)="setFilterOption(4)">
        {{ "GENERAL_TEXTS.CUSTOM" | translate }}
      </div>
    </div>

    <div class="sales-date-filter-options" [formGroup]="filterForm">

      @if (currentFilterOption === 1) {
      <div>
        <mat-form-field class="transaction-date" appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.PICK_DATE" | translate
            }}:</mat-label>
          <input matInput (dateChange)="dateChange($event)" [matDatepicker]="picker" formControlName="day" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      }

      @if (currentFilterOption === 2) {
      <div>
        <mat-form-field appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.PICK_WEEK" | translate
            }}:</mat-label>
          <mat-select formControlName="week" (selectionChange)="weekChange($event)">
            @for (week of weekOptions; track $index) {
            <mat-option [value]="$index">{{ week }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }

      @if (currentFilterOption === 3) {
      <div>
        <mat-form-field appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.PICK_MONTH" | translate
            }}:</mat-label>
          <mat-select formControlName="month" (selectionChange)="monthChange($event)">
            @for (month of monthlyOptions; track $index) {
            <mat-option [value]="$index">{{ month }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }

      @if (currentFilterOption === 4) {
      <div class="custom-date-range-container">
        <mat-form-field class="date-from-field" appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.FROM_DATE" | translate
            }}:</mat-label>
          <input matInput (dateChange)="fromDateChange($event)" [matDatepicker]="fromPicker" formControlName="fromDate"
            [max]="maxDate" />
          <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="date-to-field" appearance="fill">
          <mat-label>{{
            "SALES_PAGE.FILTER_OPTIONS_PANEL.TO_DATE" | translate
            }}:</mat-label>
          <input matInput (dateChange)="toDateChange($event)" [matDatepicker]="toPicker" formControlName="toDate"
            [min]="minToDate" [max]="maxDate" />
          <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>
      }

    </div>
    <div class="panel panel--full-width sales-information-panel">
      <div class="sales-information-panel__amount-container">
        <label>{{ "SALES_PAGE.SALES_PANEL.LABEL" | translate }}:</label>

        @if (!isLoading) {
        <span class="scale-in-center-animation">{{
          sales
          }}</span>
        }

      </div>

      @if (!isLoading) {
      <div class="sales-information-panel__amount-breakdown-container">
        <div></div>
        <div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.CASH_ON_HAND_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              cashOnHand
              }}</span>
          </div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.CHEQUE_ON_HAND_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              chequeOnHand
              }}</span>
          </div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.ACCOUNT_RECEIVABLES_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              accountReceivables
              }}</span>
          </div>
          <div class="amount-information">
            <label>{{ "SALES_PAGE.SALES_PANEL.BAD_ORDERS_LABEL" | translate }}:</label>
            <span class="scale-in-center-animation">{{
              badOrders
              }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
