<div class="agreement-confirmation-dialog-container">
  <div class="dialog-form-container__header">
    <span>{{ "PRODUCT_CART_PAGE.AGREEMENT_CONFIRMATION_DIALOG.TITLE" | translate
      }}</span>
    <mat-icon (click)="onCancel()">cancel</mat-icon>
  </div>
  <div class="dialog-form-container__body" [formGroup]="agreementConfirmationForm">
    <mat-checkbox formControlName="confirm">{{
      "PRODUCT_CART_PAGE.AGREEMENT_CONFIRMATION_DIALOG.FORM_CONTROL_SECTION.CONFIRMATION_CHECKBOX_CONTROL.LABEL" |
      translate
      }} <br>
      {{
      "PRODUCT_CART_PAGE.AGREEMENT_CONFIRMATION_DIALOG.FORM_CONTROL_SECTION.CONFIRMATION_CHECKBOX_CONTROL.LABEL_2" |
      translate
      }} <br><br>
      {{
      "PRODUCT_CART_PAGE.AGREEMENT_CONFIRMATION_DIALOG.FORM_CONTROL_SECTION.CONFIRMATION_CHECKBOX_CONTROL.LABEL_3" |
      translate
      }}
    </mat-checkbox>

    @if(userService.userSetting().allowOrderConfirmation) {
    @if(agreementConfirmationForm.get('confirm').value) {
    <div class="agreement-confirmation-dialog-container__mark-as-paid">
      <mat-slide-toggle formControlName="paid">{{
        "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.PAID_CONTROL.LABEL"
        | translate
        }}</mat-slide-toggle>
    </div>
    }
    }

  </div>
  <div class="dialog-form-container__footer">
    <div class="button-container">
      <button mat-raised-button [disabled]="!agreementConfirmationForm.get('confirm')?.value" color="primary"
        (click)="onConfirm()">
        {{ "GENERAL_TEXTS.CONFIRM" | translate }}
      </button>
      <button mat-raised-button color="default" (click)="onCancel()">
        {{ "GENERAL_TEXTS.CANCEL" | translate }}
      </button>
    </div>
  </div>
</div>
