@import "../../../../../app-variables";


::ng-deep .mat-mdc-snack-bar-container.warning-snackbar .mdc-snackbar__surface {
  background-color: $warning-bg-color;
}

::ng-deep .mat-mdc-snack-bar-container.warning-snackbar {
  border: 2px solid $warning-border-color;
  border-radius: 5px;
  color: $alt-text-color;
}

::ng-deep .mat-mdc-snack-bar-container.warning-snackbar .mdc-snackbar__label {
  color: $alt-text-color;
}

