// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Beelina-primary-palette: (
  50: #fff8e1,
  100: #ffeeb3,
  200: #ffe381,
  300: #ffd74f,
  400: #ffcf29,
  500: #ffc603,
  600: #ffc003,
  700: #ffb902,
  800: #ffb102,
  900: #ffa401,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe5bf,
  A700: #ffdba6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$Beelina-accent-palette: (
  50: #fbf6ed,
  100: #f6ead3,
  200: #f0dcb6,
  300: #eacd98,
  400: #e6c382,
  500: #e1b86c,
  600: #ddb164,
  700: #d9a859,
  800: #d5a04f,
  900: #cd913d,
  A100: #ffffff,
  A200: #fff5e8,
  A400: #ffdfb5,
  A700: #ffd49c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$BeelinaAPP-primary: mat.define-palette($Beelina-primary-palette);
$BeelinaAPP-accent: mat.define-palette($Beelina-primary-palette);

// The warn palette is optional (defaults to red).
$BeelinaAPP-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BeelinaAPP-theme: mat.define-light-theme(
  (
    color: (
      primary: $BeelinaAPP-primary,
      accent: $BeelinaAPP-accent,
      warn: $BeelinaAPP-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($BeelinaAPP-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "./app-variables";

/*#region PAGE CONTAINER CLASSES*/
.page-container {
  background: $background-gradient;
  height: 91%;
  padding: 10px;
  overflow: auto;

  &__page-divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    label {
      font-size: 17px;
      color: $primary;
      font-weight: bold;
    }

    .page-information-description {
      font-size: 12px;
      color: #707070;
    }
  }

  &__single-command-group {
    justify-content: flex-end;
  }

  &__page-command {
    width: 100px;
    margin-right: 0px;
  }

  .panel {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);

    &__details-group-panel {
      margin-bottom: 20px;
    }

    &__header-section {
      box-sizing: border-box;
      color: white;
      background: $primary-gradient;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
      text-align: center;
      width: 100%;
    }

    &__body-section {
      padding: 15px;

      mat-form-field {
        width: 100%;
      }
    }

    &__footer-section {
      padding: 15px;
    }

    &__details-section {
      margin-top: 13px;
      border-bottom-width: 0.5px;
      padding-bottom: 5;

      .details-wrapper {
        width: 50%;
      }

      .details-label {
        border-bottom-color: #cccccc;
        font-size: 16px;
        color: black;
        font-weight: bold;
      }
    }
  }
}
/*#endregion*/

/*#region FORM DIALOG*/
.dialog-container {
  padding: 15px;
}

.dialog-form-container {
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 16px;
    padding: 15px;
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
  }

  &__body {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    mat-form-field {
      width: 100%;
    }
  }

  &__footer {
    display: flex;
    padding: 15px;

    .button-container {
      display: flex;
      gap: 12px;
      width: 100%;

      button {
        width: 50%;
      }
    }
  }
}

/*#endregion*/

/*#region PAGE TOOLBAR CLASSES*/
app-tool-bar {
  mat-icon {
    font-size: 2em;
    color: $white;
  }

  mat-icon.icon-active {
    color: $active;
  }
}
/*#endregion*/

/*#region LIST ITEM */
.list-container {
  height: 90%;

  &__item-section {
    display: flex;
    background: $white;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #cfcfcf;

    &--justify-content-space-between {
      justify-content: space-between;
    }
  }

  &__card-item {
    flex-direction: column;
    display: flex;
    background: white;
    margin: 8px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #cfcfcf;
  }

  &__icon-section {
    width: 50px;
    display: flex;
    justify-content: space-around;

    &--right-space {
      margin-right: 10px;
    }

    &--icon-container {
      background-color: $primary;
      color: $white;
      border-radius: 5px;
      height: 40px;
      padding: 5px;
    }

    mat-icon {
      align-self: center;
      font-size: 40px;
      width: 100%;
      height: 100%;
    }
  }

  &__details-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;

    .main-label {
      font-weight: bold;
      color: $primary;
      font-size: 15px;
    }
  }

  &__options-section {
    display: flex;
    justify-content: space-between;

    .option {
      align-self: center;
    }
  }
}
/*#endregion*/

/*#region PRODUCT LIST ITEM */
cdk-virtual-scroll-viewport.product-list
  > div.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  > .ng-star-inserted {
    width: 48%;
  }
}
/*#endregion*/

.transactions-list {
  height: 80vh;
}

.mat-bottom-sheet-container {
  padding: 0 !important;
  background: $background-gradient;
}

button[color="primary"] {
  color: white !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
.mat-list-item-content {
  padding: 0 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.transaction-date .mat-form-field-infix,
.date-picker-control .mat-form-field-infix {
  display: flex !important;
}

.transaction-date.unpaid,
.product-transaction-list div.unpaid {
  color: red;
}

/*#region ANIMATION CLASS HELPERS */
.scale-in-center-animation {
  -webkit-animation: scale-in-center 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-in-ver-left-animation {
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left-animation {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sidenavbarbackgroundanimation {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-4 18:18:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: $from-color-gradiant;
  }
  100% {
    background: $to-color-gradiant;
  }
}
@keyframes color-change-2x {
  0% {
    background: $to-color-gradiant;
  }
  100% {
    background: $from-color-gradiant;
  }
}
