@import "../../../app-variables";

.product-detail-panel {
  &__stock-quantity-control {
    align-items: center;
    display: flex;
    height: 2em;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 3em;

    .info-field {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .stock-quantity-label {
      font-size: 1.1em;
    }

    .stock-quantity-value {
      font-weight: bold;
    }
  }

  &__transferrable {
    padding: 1em 0 2em;
  }
}

mat-hint {
  color: $primary;
}
