<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate">
  <button mat-icon-button class="toolbar-option" (click)="saveProduct()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-option" (click)="manageProductStockAudit()">
    <mat-icon>history</mat-icon>
  </button>
</app-tool-bar>
<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container slide-in-left-animation">
    <div class="panel">
      <div [formGroup]="productForm" class="panel__details-group-panel">
        <div class="panel__header-section">
          <label>{{
            "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE"
            | translate
            }}</label>
        </div>
        <div class="panel__body-section">
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.CODE_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="code" />

            @if(productForm.get('code').hasError('productAlreadyExists')) {
            <mat-error>
              {{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.CODE_CONTROL.ALREADY_EXIST_ERROR_MESSAGE"
              | translate
              }}
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.NAME_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.DESCRIPTION_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="description" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.SUPPLIER_CONTROL.LABEL"
              | translate
              }}:</mat-label>

            <mat-select formControlName="supplierId">
              @for(supplier of supplierStore.suppliers(); track supplier.id) {
              <mat-option [value]="supplier.id">{{ supplier.code }}: {{ supplier.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="product-detail-panel__stock-quantity-control">
            <div class="info-field">
              @if (businessModel === businessModelEnum.WarehousePanelMonitoring && !isAdmin) {
              <label class="stock-quantity-label">{{
                "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.STOCK_REMAINING_CONTROL.LABEL"
                | translate
                }}: <span class="stock-quantity-value">{{ productForm.get("stocksRemainingFromWarehouse").value
                  }}</span></label>
              }
              <label class="stock-quantity-label">{{
                "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.STOCK_QUANTITY_CONTROL.LABEL"
                | translate
                }}: <span class="stock-quantity-value">{{ productForm.get("stockQuantity").value }}</span></label>
            </div>

            @if (businessModel === businessModelEnum.WarehousePanelMonitoring || isAdmin) {
            <button mat-raised-button color="primary" (click)="editStockQuantity()"> {{
              "GENERAL_TEXTS.EDIT" | translate
              }}</button>
            }
          </div>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.PRICE_PER_UNIT_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="number" formControlName="pricePerUnit" />

            @if (showDefaultPrice) {
            <mat-hint><span
                [innerHTML]="translateService.instant('EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.PRICE_PER_UNIT_CONTROL.HINT')"></span></mat-hint>
            }
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.UNIT_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input type="text" matInput formControlName="productUnit" [matAutocomplete]="auto" />

            <mat-autocomplete #auto="matAutocomplete">
              @for(option of productUnitFilterOptions | async; track option.id) {
              <mat-option [value]="option.name">
                {{ option.name }}
              </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <div class="product-detail-panel__transferrable">
            <mat-slide-toggle formControlName="isTransferable">{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.TRANSFERRABLE_CONTROL.LABEL"
              | translate
              }}</mat-slide-toggle>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "EDIT_PRODUCT_DETAILS_PAGE.FORM_CONTROL_SECTION.NUMBER_OF_UNITS_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="number" formControlName="numberOfUnits" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</app-loader-layout>
