@import "../../../../app-variables";

.select-new-product-container {
  height: 75vh;
  display: flex;
  flex-direction: column;

  // .product-list {
  //   height: 60vh;
  // }

  &__header {
    font-size: 16px;
    padding: 10px;
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
  }

  &__body {
    flex: 1;
  }
}
