<div class="select-new-product-container">
  <div class="select-new-product-container__header">
    <span>{{ "ADD_TO_CART_PAGE.TITLE" | translate }}</span>
    <mat-icon (click)="onCancel()">cancel</mat-icon>
  </div>
  <div class="select-new-product-container__body">
    <app-loader-layout [busy]="$isLoading | async">
      <div class="page-container">
        <app-search-field (onSearch)="onSearch($event)" [placeHolderTextIdentifier]="
            'PRODUCTS_CATALOGUE_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER'
          "></app-search-field>

        <cdk-virtual-scroll-viewport itemSize="60" orientation="vertical" class="list-container">
          <div *cdkVirtualFor="let item of dataSource">
            <app-product-card-item [productItem]="item" [hideHeaderOptions]="true"
              (selectItem)="addItemToCart($event)"></app-product-card-item>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </app-loader-layout>
  </div>
</div>
