.text-inventories-container {
  .product-withdrawal-panel {
    margin-bottom: 1em;

    .biz-form-container {
      display: flex;
      gap: 1em;
    }

    .form-general-section {
      flex: 1;
    }

    .form-notes-section {
      flex: 2;

      textarea {
        height: 93px;
      }
    }

    .form-column-direction {
      display: flex;
      gap: 1em;
    }
  }

  .panel {
    display: flex;
    flex-direction: column;
  }

  .panel__body-section {
    flex: 1;
    overflow: auto;

    mat-hint {
      font-size: 11px;
    }

    .page-information-description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .page-information-description {
        width: 90%;
      }
    }
  }

  .panel__footer-section {
    display: flex;
    gap: 1em;
    button {
      width: 100%;
    }
  }
}
