@if(!multipleItemsService.selectMultipleActive()) {
<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate" [showBackButton]="false">
  <button mat-icon-button class="toolbar-option" (click)="openFilter()">
    <mat-icon [ngClass]="{
        'icon-active': isFilterActive
      }" matBadgeColor="warn">filter_list</mat-icon>
  </button>

  <mat-icon matRipple [matMenuTriggerFor]="menu">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="multipleItemsService.activateSelectMultiple(true)">
      <mat-icon>list</mat-icon>
      {{ 'GENERAL_TEXTS.SELECT_MULTIPLE' | translate }}
    </button>
  </mat-menu>
</app-tool-bar>
} @else {
<app-tool-bar [title]="multipleItemsService.selectedItemsCountLabel('TRANSACTION_SELECT_MULTIPLE_MODE.LABEL')"
  [showBackButton]="false">
  <button mat-icon-button class="toolbar-option" (click)="multipleItemsService.activateSelectMultiple(false)">
    <mat-icon matBadgeColor="warn">highlight_off</mat-icon>
  </button>

  <mat-icon matRipple [matMenuTriggerFor]="menu">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <button [disabled]="multipleItemsService.selectedItems().length === 0" mat-menu-item
      (click)="deleteSelectedItems()">
      <mat-icon>delete</mat-icon>
      {{ 'TRANSACTION_SELECT_MULTIPLE_MODE.OPTIONS.DELETE_SELECTED_ORDERS' | translate }}
    </button>
  </mat-menu>
</app-tool-bar>
}

<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "DRAFT_TRANSACTIONS_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "DRAFT_TRANSACTIONS_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>

    <app-list-container [templateType]="emptyEntityTemplateEnum.TRANSACTIONS" [count]="dataSource.itemCount">

      @if (networkService.isOnline | async) {
      @if(hasLocalDraftOrders() && !multipleItemsService.selectMultipleActive()) {
      <app-banner [type]="bannerTypeEnum.WARNING">
        <div class="offline-order-banner-message">{{ "OFFLINE_ORDERS_MODE.HAS_OFFLINE_ORDERS_LABEL_MESSAGE" | translate
          }}
          <button mat-raised-button color="default" (click)="syncAllOfflineDraftOrders()">
            <mat-icon>cloud_upload</mat-icon>
            {{ 'GENERAL_TEXTS.CONFIRM' | translate }}
          </button>
        </div>
      </app-banner>
      }
      }


      @if(multipleItemsService.selectMultipleActive()) {
      <mat-checkbox [checked]="multipleItemsService.isSelectedAll()" (change)="selectAllItems($event.checked)"
        [labelPosition]="'after'">{{
        'GENERAL_TEXTS.SELECT_ALL' | translate }}</mat-checkbox>
      }

      <cdk-virtual-scroll-viewport itemSize="10" class="list-container transactions-list">
        <div *cdkVirtualFor="let item of dataSource">
          <div matRipple
            class="transaction-date list-container__item-section list-container__item-section--justify-content-space-between list-container__item-section--align-items-center"
            (click)="goToTransactionDate(item.transactionDate)" appLongPress (longPress)="openMoreActions(item)">
            <div class="list-container__item-section--check-box-item-section">
              @if(multipleItemsService.selectMultipleActive()) {
              <mat-checkbox [checked]="multipleItemsService.isSelected(item.transactionDate)"
                [id]="item.transactionDate" (change)="selectItem($event.checked, $event.source.id)"></mat-checkbox>
              }
              <span>{{ item.transactionDateFormatted }}</span>
            </div>

            <div>
              @if (item.isLocal) {
              <mat-icon class="order-transaction-list__local-icon">wifi_off</mat-icon>
              }
              <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</app-loader-layout>
