<app-tool-bar
  [title]="'GENERAL_TEXTS.BEELINA' | translate"
  [showBackButton]="false"
></app-tool-bar>
<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "CUSTOMERS_PAGE.TITLE" | translate }}</label
      ><br />
      <span class="page-information-description">{{
        "CUSTOMERS_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="search-field-container">
        <input
          type="text"
          class="txt-search-field"
          formControlName="filterKeyword"
          placeholder="{{
            'CUSTOMERS_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER' | translate
          }}"
        />
        <button type="submit" mat-fab color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

    <app-list-container
      [templateType]="emptyEntityTemplateEnum.CUSTOMERS"
      [count]="dataSource.itemCount"
    >
      <cdk-virtual-scroll-viewport itemSize="10" class="list-container">
        <div *cdkVirtualFor="let item of dataSource">
          <div class="list-container__item-section">
            <div class="list-container__icon-section">
              <mat-icon>store</mat-icon>
            </div>
            <div class="list-container__details-section">
              <label class="main-label">{{ item.name }}</label>
              <label>{{ item.address }}</label>
            </div>
            <div class="list-container__options-section">
              <button mat-button (click)="deleteStore(item.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-button (click)="openDetails(item.id)">
                <mat-icon>border_color</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>

  <app-floating-button
    (tapButton)="addCustomer()"
    [icon]="'add'"
  ></app-floating-button>
</app-loader-layout>
