.product-detail-panel {
  &__stock-quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    margin-bottom: 1.5em;

    .stock-quantity-label {
      font-size: 1.1em;
    }

    .stock-quantity-value {
      font-weight: bold;
    }
  }

  &__transferrable {
    padding: 1em 0 2em;
  }

  .product-details-container {
    &__footer-section {
      button {
        width: 100%;
      }
    }
  }
}
