<div matRipple class="product-item list-container__card-item">
  <div *ngIf="!hideHeader" class="list-container__card-item-header product-item__header">
    <mat-icon [matBadge]="productItem?.deductedStock" [matBadgeHidden]="productItem?.deductedStock === 0"
      matBadgeColor="warn" aria-hidden="false">add_shopping_cart</mat-icon>
    <div *ngIf="!hideHeaderOptions">
      <mat-icon matRipple [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button *ngIf="allowManageItem" mat-menu-item (click)="editProduct(productItem?.id)">
          <mat-icon>border_color</mat-icon>
          {{ "GENERAL_TEXTS.EDIT" | translate }}
        </button>
        <button *ngIf="allowManageItem" mat-menu-item (click)="deleteProduct(productItem?.id)">
          <mat-icon>delete</mat-icon> {{ "GENERAL_TEXTS.REMOVE" | translate }}
        </button>
        <button [disabled]="!productItem?.isTransferable || productItem?.stockQuantity === 0" mat-menu-item
          (click)="transferProductInventory(productItem?.id)">
          <mat-icon>move_to_inbox</mat-icon> {{ "GENERAL_TEXTS.TRANSFER_STOCK" | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div (click)="addItemToCart(productItem.id)" class="product-item__body-container">
    <div *ngIf="!hideImage" class="list-container__card-item-body product-item__body">
      <img [src]="getProductPhoto(productItem?.name)" />
    </div>
    <div class="list-container__card-item-footer product-item__footer">
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.CODE" | translate
          }}: </span><span>{{ productItem?.code }}</span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.NAME" | translate
          }}: </span><span>{{ productItem?.name }}</span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.UNIT" | translate
          }}: </span><span class="product-info__unit">{{ productItem?.productUnit?.name }}</span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.PRICE" | translate
          }}: </span><span>{{ productItem?.priceFormatted }}</span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.STOCK" | translate
          }}: </span><span class="product-info__stock">{{ productItem?.stockQuantity }}</span>
      </div>
      <div *ngIf="productItem?.withdrawalSlipNo" class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.WITHDRAWAL_SLIP_NO" | translate
          }}: </span><span>{{ productItem?.withdrawalSlipNo }}</span>
      </div>
    </div>
  </div>
</div>
