@import "../../../app-variables";

.product-item {
  max-height: 14em;

  &__header {
    color: $white;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    padding: 15px 10px;
  }

  &__header-options {
    display: flex;
    align-items: center;

    .product-linked-icon {
      width: 70px;
    }
  }

  &__body-container {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
  }

  &__body {
    display: flex;
    justify-content: space-around;

    mat-icon {
      height: 55px;
      width: 85px;
      font-size: 6em;
      align-self: center;
      color: $primary;
    }

    img {
      width: 90px;
    }
  }

  &__footer {
    flex: 1;
    overflow: hidden;
    padding: 0 1em;

    .product-info {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 4px 0;

      &__label {
        font-weight: bold;
      }

      &__unit {
        font-weight: 700;
        text-transform: uppercase;
      }

      &__stock {
        padding: 2px;
        background-color: $primary;
        color: $white;
        border-radius: 15px;
        width: 40px;
        display: inline-block;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
