<div matRipple class="product-item list-container__card-item">

  @if (!hideHeader()) {
  <div class="list-container__card-item-header product-item__header">
    <mat-icon [ngClass]="{ 'no-visibility': hideDeductionCounterIcon() }" [matBadge]="productItem()?.deductedStock"
      [matBadgeHidden]="productItem()?.deductedStock === 0" matBadgeColor="warn"
      aria-hidden="false">add_shopping_cart</mat-icon>

    @if (!hideHeaderOptions()) {
    <div class="product-item__header-options">

      @if (productItem()?.isLinkedToSalesAgent && allowManageItem()) {
      <app-badge class="product-linked-icon" [type]="bannerTypeEnum.SUCCESS"
        [textIdentifier]="'GENERAL_TEXTS.LINKED'"></app-badge>
      }

      <mat-icon matRipple [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">

        @if (allowManageItem()) {
        <button mat-menu-item (click)="editProduct(productItem()?.id)">
          <mat-icon>border_color</mat-icon>
          {{ "GENERAL_TEXTS.EDIT" | translate }}
        </button>
        }

        @if (allowManageItem()) {
        <button mat-menu-item (click)="deleteProduct(productItem()?.id)">
          <mat-icon>delete</mat-icon> {{ "GENERAL_TEXTS.REMOVE" | translate }}
        </button>
        }

        @if (allowTransferStocks()) {
        <button [disabled]="(!productItem()?.isTransferable || productItem()?.stockQuantity === 0)" mat-menu-item
          (click)="transferProductInventory(productItem()?.id)">
          <mat-icon>move_to_inbox</mat-icon> {{ "GENERAL_TEXTS.TRANSFER_STOCK" | translate }}
        </button>
        }

        @if (allowAddItem()) {
        <button mat-menu-item (click)="addProductStockQuantity()">
          <mat-icon>library_add</mat-icon> {{ "GENERAL_TEXTS.ADD_STOCK_QUANTITY" | translate }}
        </button>
        }

      </mat-menu>
    </div>
    }

  </div>
  }

  <mat-divider></mat-divider>

  <div (click)="addItemToCart(productItem().id)" class="product-item__body-container">

    @if (!hideImage()) {
    <div class="list-container__card-item-body product-item__body">
      <img [src]="getProductPhoto(productItem?.name)" />
    </div>
    }

    <div class="list-container__card-item-footer product-item__footer">
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.CODE" | translate
          }}: </span><span [innerHTML]="highlightText(productItem()?.code)"></span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.NAME" | translate
          }}: </span><span [innerHTML]="highlightText(productItem()?.name)"></span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.UNIT" | translate
          }}: </span><span class="product-info__unit">{{ productItem()?.productUnit?.name }}</span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.PRICE" | translate
          }}: </span><span>{{ productItem()?.priceFormatted }}</span>
      </div>
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.STOCK" | translate
          }}: </span><span class="product-info__stock">{{ productItem()?.stockQuantity }}</span>
      </div>

      @if (productItem()?.withdrawalSlipNo) {
      <div class="product-info">
        <span class="product-info__label">{{
          "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.WITHDRAWAL_SLIP_NO" | translate
          }}: </span><span>{{ productItem()?.withdrawalSlipNo }}</span>
      </div>
      }

    </div>
  </div>
</div>
