<app-tool-bar [title]="'GENERAL_TEXTS.BEELINA' | translate"> </app-tool-bar>
<app-loader-layout [busy]="false">
  <div class="page-container">
    <div class="panel product-cart-container">
      <div class="panel__details-group-panel">
        <div class="panel__header-section">
          {{
            "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE" | translate
          }}
        </div>
        <div class="panel__body-section">
          <mat-list role="list" class="product-transaction-list-container">
            <mat-list-item
              class="product-transaction-list-container__list-item-section"
              *ngFor="let item of productCartTransactions"
              role="listitem"
            >
              <div class="list-item">
                <span>{{ item.productName }}</span>
                <div class="list-item__product-price-information">
                  <span>{{ item.priceFormatted }}</span>
                  <span>X</span>
                  <span>{{ item.quantity }}</span>
                </div>
              </div>
            </mat-list-item>
          </mat-list>
          <div
            class="product-transaction-total-amount-information-container"
            *ngIf="productCartTransactions.length > 0"
          >
            <span>{{ "GENERAL_TEXTS.TOTAL" | translate }}</span>
            <span>{{ totalAmount }}</span>
          </div>
        </div>
      </div>

      <div
        [formGroup]="orderForm"
        class="panel__details-group-panel product-transaction-information-container"
      >
        <div class="panel__body-section">
          <mat-form-field appearance="fill">
            <mat-label
              >{{
                "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.NAME_CONTROL.LABEL"
                  | translate
              }}:</mat-label
            >
            <input
              matInput
              type="text"
              formControlName="name"
              [matAutocomplete]="auto"
            />

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of customerStoreFilterOptions | async"
                [value]="option.name"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label
              >{{
                "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.ADDRESS_CONTROL.LABEL"
                  | translate
              }}:</mat-label
            >
            <input matInput type="text" formControlName="address" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label
              >{{
                "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.PAYMENT_METHOD_CONTROL.LABEL"
                  | translate
              }}:</mat-label
            >
            <input
              type="text"
              matInput
              formControlName="paymentMethod"
              readonly
            />
          </mat-form-field>
          <mat-form-field class="transaction-date" appearance="fill">
            <mat-label
              >{{
                "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.DATE_CONTROL.LABEL"
                  | translate
              }}:</mat-label
            >
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dueDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          class="panel__footer-section product-transaction-information-container__button-options-section"
        >
          <button mat-raised-button color="primary" (click)="confirm()">
            {{ "GENERAL_TEXTS.CONFIRM" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</app-loader-layout>
