<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate">

  @if (isAdmin()) {
  @if(userService.userSetting().allowOrderPayments) {
  <button mat-icon-button class="toolbar-option" (click)="goToPaymentHistory()">
    <mat-icon>payment</mat-icon>
  </button>
  }
  }

</app-tool-bar>
<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container slide-in-left-animation">
    <div class="panel product-cart-container">
      <div class="panel__details-group-panel">
        <div class="panel__header-section">
          {{
          "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE" | translate
          }}
        </div>
        <div class="panel__body-section product-cart-container__body-section">
          <div>
            <span class="product-cart-container__no-of-items-label">{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.NO_OF_ITEMS.LABEL"
              | translate
              }}:</span>
            {{ productTransactions().length }}
          </div>
          <br />
          <mat-list role="list" class="product-transaction-list-container">

            @for (item of productTransactions(); track item.id) {
            <mat-list-item class="product-transaction-list-container__list-item-section" role="listitem">
              <div class="list-item">
                <span class="list-item__product-details-information">
                  ({{
                  "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.CODE"
                  | translate
                  }}: {{ item.code }})
                  <br />
                  {{ item?.productName }}
                </span>
                <div>
                  <div class="list-item__product-price-information">
                    <span>{{ item?.priceFormatted }}</span>
                    <span>X</span>
                    <span>{{ item?.quantity }}</span>
                    <mat-icon (click)="updateItemToCart(item.productId)" matRipple
                      class="list-item__edit-product">edit</mat-icon>
                  </div>

                  @if (item?.returnQuantity > 0) {
                  <span class="list-item__return-quantity">({{
                    "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.RETURN_ITEMS"
                    | translate
                    }} {{ item?.returnQuantity }})</span>
                  }
                </div>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
            }

          </mat-list>

          @if(isDraftTransaction() || isAdmin()) {
          <div class="product-transaction-list-container__button-section">
            <button mat-raised-button color="primary" (click)="addINewtemToCart()">
              {{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.BUTTON_OPTIONS.ADD_ITEM"
              | translate
              }}
            </button>
          </div>
          }

          @if(productTransactions().length > 0) {
          @if (isAdmin()) {
          <div class="product-transaction-total-amount-information-container">
            <span>{{ "GENERAL_TEXTS.BALANCE" | translate }}</span>
            <span>{{ transaction()?.balanceFormatted }}</span>
          </div>

          <div class="product-transaction-total-amount-information-container">
            <span>{{ "GENERAL_TEXTS.BAD_ORDERS_AMOUNT" | translate }}</span>
            <span>{{ transaction()?.badOrderFormatted }}</span>
          </div>
          }
          <div class="product-transaction-total-amount-information-container">
            <span>{{ "GENERAL_TEXTS.GROSS_TOTAL" | translate }}</span>
            <span>{{ grossTotalAmount() }}</span>
          </div>
          <div class="product-transaction-total-amount-information-container" [formGroup]="discountForm">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.DISCOUNT_CONTROL.LABEL"
              | translate
              }}</span>
            <input class="product-transaction-total-amount-information-container__input-discount-field" type="number"
              formControlName="discount" />
          </div>
          <div class="product-transaction-total-amount-information-container">
            <span>{{ "GENERAL_TEXTS.NET_TOTAL" | translate }}</span>
            <span>{{ netTotalAmount }}</span>
          </div>
          }

        </div>
      </div>

      <div [formGroup]="orderForm" class="panel__details-group-panel product-transaction-information-container">
        <div class="panel__body-section product-cart-container__body-section">
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.TRANSACTION_NO_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="invoiceNo" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.CUSTOMER_ACCOUNT_CONTROL.LABEL"
              | translate
              }}:</mat-label>

            <mat-select formControlName="barangay">

              @for(barangay of barangayOptions(); track barangay.id) {
              <mat-option [value]="barangay.name">{{ barangay.name
                }}</mat-option>
              }

            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.NAME_CONTROL.LABEL"
              | translate
              }}:</mat-label>

            <mat-select formControlName="name">
              @for(customer of customerStoreOptions; track customer.id) {
              <mat-option [value]="customer.name">{{ customer.name
                }}</mat-option>
              }

            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.ADDRESS_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput type="text" formControlName="address" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.PAYMENT_METHOD_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <mat-select formControlName="paymentMethod">

              @for(paymentMethod of paymentMethodOptions(); track paymentMethod.id) {
              <mat-option [value]="paymentMethod.id">{{
                paymentMethod.name
                }}</mat-option>
              }

            </mat-select>
          </mat-form-field>
          <mat-form-field class="transaction-date" appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.TRANSACTION_DATE_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput [matDatepicker]="transactiondatepicker" formControlName="transactionDate" />
            <mat-datepicker-toggle matIconSuffix [for]="transactiondatepicker"></mat-datepicker-toggle>
            <mat-datepicker #transactiondatepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="due-date" appearance="fill">
            <mat-label>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.DUE_DATE_CONTROL.LABEL"
              | translate
              }}:</mat-label>
            <input matInput [matDatepicker]="duedatepicker" [min]="minDate" formControlName="dueDate" />
            <mat-datepicker-toggle matIconSuffix [for]="duedatepicker"></mat-datepicker-toggle>
            <mat-datepicker #duedatepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="panel__footer-section product-transaction-information-container__button-options-section">

          @if (!isAdmin()) {

            @if (networkService.isOnline | async) {

              @if(!isLocalTransaction()) {
                <button mat-raised-button color="primary" (click)="confirm()">
                  <mat-icon>check_circle_outline</mat-icon>
                  {{ "GENERAL_TEXTS.CONFIRM" | translate }}
                </button>

                <button mat-raised-button color="warn" (click)="saveAsBadOrder()">
                  <mat-icon>remove_shopping_cart</mat-icon>
                  {{ "GENERAL_TEXTS.BAD_ORDER" | translate }}
                </button>

                @if (isDraftTransaction()) {

                  <button mat-raised-button color="default" (click)="saveExistingOrderAsDraft()">
                    <mat-icon>save</mat-icon>
                    {{ "GENERAL_TEXTS.SAVE_CHANGES" | translate }}
                  </button>

                } @else {

                  <button mat-raised-button color="default" (click)="saveNewOrderAsDraft()">
                    <mat-icon>archive</mat-icon>
                    {{
                    "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.BUTTON_OPTIONS.DRAFT"
                    | translate
                    }}
                  </button>

                  <button mat-raised-button color="default" (click)="clear()">
                    <mat-icon>clear_all</mat-icon>
                    {{ "GENERAL_TEXTS.CLEAR" | translate }}
                  </button>
                }

                @if(transaction().id !== 0) {
                  @if(userSettings.allowPrintReceipt) {
                    <button mat-raised-button color="default" (click)="printReceiptViaPrinter()">
                    <mat-icon>print</mat-icon>
                    {{ "GENERAL_TEXTS.PRINT" | translate }}
                  </button>
                  }
                }
              }

              @if(isLocalTransaction()) {
                <button mat-raised-button color="primary" (click)="syncLocalDraftOrder()">
                  <mat-icon>cloud_upload</mat-icon>
                  {{ "GENERAL_TEXTS.SYNC" | translate }}
                </button>
              }
            }

            @if (!(networkService.isOnline | async)) {
              <button mat-raised-button color="warn" (click)="saveAsBadOrder()">
                <mat-icon>remove_shopping_cart</mat-icon>
                {{ "GENERAL_TEXTS.BAD_ORDER" | translate }}
              </button>

              @if (isDraftTransaction()) {
                <button mat-raised-button color="default" (click)="saveExistingOrderAsDraft()">
                  <mat-icon>save</mat-icon>
                  {{ "GENERAL_TEXTS.SAVE_CHANGES" | translate }}
                </button>
              } @else {
                <button mat-raised-button color="default" (click)="saveNewOrderAsDraft()">
                  <mat-icon>archive</mat-icon>
                  {{
                  "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.BUTTON_OPTIONS.DRAFT"
                  | translate
                  }}
                </button>

                <button mat-raised-button color="default" (click)="clear()">
                  <mat-icon>clear_all</mat-icon>
                  {{ "GENERAL_TEXTS.CLEAR" | translate }}
                </button>
              }

              @if(transaction().id !== 0) {
                @if(userSettings.allowPrintReceipt) {
                  <button mat-raised-button color="default" (click)="printReceiptViaPrinter()">
                  <mat-icon>print</mat-icon>
                  {{ "GENERAL_TEXTS.PRINT" | translate }}
                </button>
                }
              }
            }

          } @else {

            <button mat-raised-button color="default" (click)="printReceiptAsPDF()">
              <mat-icon>print</mat-icon>
              {{ "GENERAL_TEXTS.PRINT" | translate }}
            </button>

            @if(userService.userSetting().allowOrderPayments) {
              @if (transaction().balance > 0) {
              <button mat-raised-button color="default" (click)="registerPayment()">
                <mat-icon>payment</mat-icon>
                {{"PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.BUTTON_OPTIONS.REGISTER_PAYMENT"
                | translate}}
              </button>
              }
            }

            @if(userService.userSetting().allowOrderConfirmation) {
              @if(transaction().balance === 0 && transaction().hasUnpaidProductTransaction &&
              orderForm.get('paymentMethod').value !== 3) {
              <button mat-raised-button color="primary" (click)="markTransactionAsPaid(true)">
                <mat-icon>check_circle_outline</mat-icon>
                {{ "GENERAL_TEXTS.MARK_AS_PAID" | translate }}
              </button>
              }
            }

            <button mat-raised-button color="primary" (click)="saveNewUpdate()">
              <mat-icon>save</mat-icon>
              {{ "GENERAL_TEXTS.SAVE_CHANGES" | translate }}
            </button>
          }

        </div>
      </div>
    </div>

    @if(updatedBy()) {
    <div>
      {{ "GENERAL_TEXTS.LAST_SAVED" | translate }}: {{ updatedBy() }} ({{ dateUpdated() }})
    </div>
    }
  </div>
</app-loader-layout>
