<div class="manage-barangay-container">
  <div class="manage-barangay-container__header">
    <span>{{ dialogTitle }}</span>
    <mat-icon (click)="onCancel()">cancel</mat-icon>
  </div>
  <div class="manage-barangay-container__body" [formGroup]="barangayForm">
    <mat-form-field appearance="fill">
      <mat-label
        >{{
          "CUSTOMER_ACCOUNTS_PAGE.ADD_CUSTOMER_ACCOUNT_DIALOG.FORM_CONTROL_SECTION.NAME_CONTROL.LABEL"
            | translate
        }}:</mat-label
      >
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>
  <div class="manage-barangay-container__footer">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="onSave()">
        {{ "GENERAL_TEXTS.CONFIRM" | translate }}
      </button>
      <button mat-raised-button color="default" (click)="onCancel()">
        {{ "GENERAL_TEXTS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>
