<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset"
  >
    <div class="sidenav-content-section">
      <div class="sidenav-header">
        <img src="../assets/logo/mainlogo.jpg" />
      </div>

      <mat-tree
        [dataSource]="menuDataSource"
        [treeControl]="treeControl"
        class="side-drawer-menu-tree"
      >
        <!-- This is the tree node template for leaf nodes -->
        <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
        <mat-tree-node
          (click)="onNavItemTap(node.name, node.url, node.fragment)"
          *matTreeNodeDef="let node"
          matTreeNodeToggle
          [class.active]="isPageSelected(node.url, node.fragment)"
          [class.sidenavbarbackgroundanimation]="
            isPageSelected(node.url, node.fragment)
          "
        >
          <mat-icon>{{ node.icon }}</mat-icon> {{ node.name | translate }}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div
            (click)="onNavItemTap(node.name, node.url, node.fragment)"
            class="mat-tree-node"
            [class.active]="isPageSelected(node.url, node.fragment)"
            style="font-weight: 500"
          >
            {{ node.name | translate }}
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                }}
              </mat-icon>
            </button>
          </div>
          <!-- There is inline padding applied to this div using styles.
              This padding value depends on the mat-icon-button width.  -->
          <div
            [class.side-drawer-menu-tree-invisible]="
              !treeControl.isExpanded(node)
            "
            role="group"
          >
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
      <div class="sidenav-divider"></div>
      <div class="sidenav-footer">
        <label>{{ appVersion }}</label>
        <label><mat-icon>copyright</mat-icon> {{ copyRightText }}</label>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet *ngIf="isHandset && isOnline"></router-outlet>
    <!-- <div class="w-100 position-absolute top-0" *ngIf="isHandset && modalVersion">
      <div class="alert alert-secondary m-2">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closeVersion()"></button>
        A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
      </div>
    </div>
    <div class="w-100 position-absolute bottom-0" *ngIf="isHandset && (modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS')">
      <div class="alert alert-secondary m-2">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closePwa()"></button> -->
    <!-- Android -->
    <!-- <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
          Add this WEB app to home screen
        </div> -->
    <!-- iOS with Safari -->
    <!-- <div *ngIf="modalPwaPlatform === 'IOS'">
          To install this WEB app on your device, tap the "Menu" button
          <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png" class="ios-menu m-0" />
          and then "Add to home screen" button
          <i class="bi bi-plus-square"></i>
        </div>
      </div>
    </div> -->
    <div
      class="page-container mobile-view-supported-info-container"
      *ngIf="!isHandset"
    >
      <span class="mobile-view-supported-info-container__description">{{
        "MAIN_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>
    <app-offline *ngIf="!isOnline"></app-offline>
  </mat-sidenav-content>
</mat-sidenav-container>
