<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="search-field-container">
    <div class="search-field-container__search-field">
      <input type="text" class="txt-search-field" formControlName="filterKeyword" [placeholder]="placeHolder" />

      @if (searchForm.value.filterKeyword.length > 0) {
      <mat-icon class="search-field-container__clear-icon" (click)="clear()">clear</mat-icon>
      }
    </div>

    <button type="submit" mat-fab color="primary">
      <mat-icon>search</mat-icon>
    </button>

    @if(filter()) {
    <div class="search-field-container__filter-command-section">
      <button type="button" (click)="openFilter()" mat-fab color="primary">
        <mat-icon>filter_list</mat-icon>
      </button>

      @if(filterActive()){
      <mat-icon class="filter-active">check_circle_outline</mat-icon>
      }
    </div>
    }

  </div>
</form>
