.search-field-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 1em;

  .txt-search-field {
    flex: 1;
    box-sizing: border-box;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
  }
}
