<app-tool-bar [title]="transaction?.store?.name"> </app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container">
    <div class="panel transaction-details-panel">
      <div class="panel__details-group-panel transaction-details-panel__details-group-panel">
        <div class="panel__header-section">
          {{
          "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE" | translate
          }}
        </div>
        <div class="panel__body-section transaction-details-panel__body-section">
          <div class="product-transaction-amount-information">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.REGISTERED_DATE_CONTROL.LABEL"
              | translate
              }}:</span>
            <span>{{ transaction?.transactionDateFormatted }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.TRANSACTION_NO_CONTROL.LABEL"
              | translate
              }}:</span>
            <span>{{ transaction?.invoiceNo }}</span>
          </div>
          <br />
          <mat-divider></mat-divider>

          <mat-list role="list" class="product-transaction-list">

            @for (item of transaction?.productTransactions; track $index) {
            <mat-list-item role="listitem">
              <div class="product-transaction-list__item-section">
                <div class="product-transaction-information">
                  <span>
                    ({{
                    "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.CODE"
                    | translate
                    }}: {{ item.product?.code }})
                    <br />
                    {{ item.product?.name }}
                  </span>
                  <span>
                    <span>X</span>
                    <span>{{ item.quantity }}</span>
                  </span>
                </div>

                <div class="product-transaction-information-price">
                  <span>{{ item?.priceFormatted }}</span>
                </div>
              </div>
            </mat-list-item>
            }

          </mat-list>
          <br />

          @if (transaction?.productTransactions?.length > 0) {
          <div class="product-transaction-amount-information">
            <span>{{ "GENERAL_TEXTS.BALANCE" | translate }}</span>
            <span>{{ transaction.balanceFormatted }}</span>
          </div>
          <br />
          }

          @if (transaction?.productTransactions?.length > 0) {
          <div class="product-transaction-amount-information">
            <span>{{ "GENERAL_TEXTS.GROSS_TOTAL" | translate }}</span>
            <span>{{ transaction.grossTotalFormatted }}</span>
          </div>
          <br />
          }

          @if (transaction?.productTransactions?.length > 0) {
          <div class="product-transaction-amount-information">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.DISCOUNT_CONTROL.LABEL"
              | translate
              }}</span>
            <span>{{ transaction.discount }}</span>
          </div>
          <br />
          }


          @if (transaction?.productTransactions?.length > 0) {
          <div class="product-transaction-amount-information">
            <span>{{ "GENERAL_TEXTS.NET_TOTAL" | translate }}</span>
            <span>{{ transaction.netTotalFormatted }}</span>
          </div>
          }

        </div>

        <div class="panel__footer-section transaction-details-panel__footer-section">
          <button mat-raised-button color="warn" (click)="deleteTransaction()">
            {{ "GENERAL_TEXTS.DELETE" | translate }}
          </button>

          @if (networkService.isOnline | async) {
          @if (isLocalTransaction()) {
          <button mat-raised-button color="primary" (click)="syncLocalBadOrder()">
            <mat-icon>cloud_upload</mat-icon>
            {{ "GENERAL_TEXTS.SYNC" | translate }}
          </button>
          }
          }

        </div>
      </div>
    </div>
  </div>
</app-loader-layout>
