<div class="login-main-container">
  <div class="app-logo-container">
    <div class="main-logo">
      <img src="../../assets/logo/mainlogo.png" />
    </div>
  </div>

  <div class="login-form-container">
    <div class="lock-icon">
      <mat-icon>lock</mat-icon>
    </div>

    <div class="login-form">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="login-form-fields">
          <mat-form-field>
            <mat-label
              >{{
                "AUTH_PAGE.AUTH_FORM.COMPANY_FIELD.LABEL" | translate
              }}:</mat-label
            >
            <input
              matInput
              id="company"
              type="text"
              formControlName="company"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label
              >{{
                "AUTH_PAGE.AUTH_FORM.USERNAME_FIELD.LABEL" | translate
              }}
              :</mat-label
            >
            <input
              matInput
              id="username"
              type="text"
              formControlName="username"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label
              >{{
                "AUTH_PAGE.AUTH_FORM.PASSWORD_FIELD.LABEL" | translate
              }}
              :</mat-label
            >
            <input
              matInput
              id="password"
              type="password"
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <div class="login-form-buttons">
          <button mat-button mat-raised-button color="primary" type="submit">
            {{ "AUTH_PAGE.AUTH_FORM.LOGIN_BUTTON.LABEL" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="login-footer">
    <div class="login-footer-copyright-section">
      <label>{{ appVersion }}</label>
      <label class="login-footer-copyright-label"
        ><mat-icon>copyright</mat-icon>{{ copyRightText }}</label
      >
    </div>
  </div>
</div>
