@import "../../app-variables";

.login-main-container {
  height: calc(100% - 30px);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-image: url("../../assets/logo/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .app-logo-container {
    font-size: 120px;
    text-align: center;
    color: $primary;
    font-weight: bold;

    .main-logo img {
      width: 130px;
      height: 130px;
      border-width: 5px;
      border-color: #414141;
      background-color: $white;
      border-radius: 100%;
      padding: 8px;
    }
  }

  .login-form-container {
    display: flex;
    flex-direction: column;

    .lock-icon {
      display: flex;
      justify-content: space-around;
      align-self: center;
      width: 90px;
      height: 90px;
      background-color: $white;
      border-radius: 100%;
      margin-bottom: -50px;
      margin-top: -50px;
      z-index: 1;

      mat-icon {
        font-size: 55px;
        align-self: center;
        width: auto;
        height: auto;
      }

      label {
        font-size: 50px;
        text-align: center;
      }
    }

    .login-form {
      align-self: center;
      display: flex;
      justify-content: flex-end;
      border-radius: 10px;
      background: $background-gradient;
      box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

      .login-form-section {
        display: flex;
        flex-direction: column;
      }

      .login-placeholder-section {
        width: 500px;
        background: $primary-gradient;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .login-form-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;

        button {
          align-self: end;
          color: $white;
          width: 100%;
        }
      }
    }

    .form_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 100px 40px 20px 40px;
      border-radius: 11px;
      font-family: "Inter", sans-serif;
    }

    .title_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 700;
      color: $primary;
    }

    .subtitle {
      font-size: 0.725rem;
      max-width: 80%;
      text-align: center;
      line-height: 1.1rem;
      color: #8b8e98;
    }

    .input_container {
      width: 100%;
      height: fit-content;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .icon {
      width: 25px;
      position: absolute;
      z-index: 99;
      left: 12px;
      bottom: 9px;
    }

    .icon-password {
      width: 25px;
      position: absolute;
      z-index: 99;
      right: 12px;
      bottom: 9px;
    }

    .input_label {
      font-size: 0.75rem;
      color: #8b8e98;
      font-weight: 600;
    }

    .input_field {
      width: auto;
      height: 40px;
      padding: 0 0 0 40px;
      border-radius: 7px;
      outline: none;
      border: 1px solid #e5e5e5;
      filter: drop-shadow(0px 1px 0px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
      transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    }

    .input_field:focus {
      border: 1px solid transparent;
      box-shadow: 0px 0px 0px 2px $primary;
      background-color: transparent;
    }
  }

  .login-footer {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    color: $white;

    .login-footer-copyright-section {
      display: flex;
      flex-direction: column;

      .login-footer-copyright-label {
        display: flex;
      }

      mat-icon {
        font-size: 18px;
      }
    }
  }

  .btn-login {
    background: $primary-gradient;
    border-radius: 50%;
    color: $white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .forgot-password-link {
    font-size: 12px;
    text-align: center;
  }
}
