<app-tool-bar [title]="transaction?.store?.name"> </app-tool-bar>

<app-loader-layout [busy]="false">
  <div class="page-container" style="height: 100%">
    <div class="panel" style="height: 100%">
      <div
        class="panel__details-group-panel"
        style="display: flex; flex-direction: column; height: 90vh"
      >
        <div class="panel__header-section">
          {{
            "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE" | translate
          }}
        </div>
        <div style="flex: 1" class="panel__body-section">
          <mat-list
            role="list"
            style="max-height: 200px; overflow: auto; margin-bottom: 15px"
            class="product-transaction-list"
          >
            <mat-list-item
              *ngFor="let item of transaction?.productTransactions"
              role="listitem"
            >
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  width: 100%;
                  font-size: 14px;
                "
                [ngClass]="{ unpaid: !item?.isPaid }"
              >
                <div
                  style="
                    width: 150px;
                    display: flex;
                    justify-content: space-between;
                    align-self: center;
                  "
                >
                  <span>{{ item.product?.name }}</span>
                  <span>X</span>
                  <span>{{ item.quantity }}</span>
                </div>

                <div style="align-self: center">
                  <span>{{ item?.priceFormatted }}</span>
                </div>

                <div style="align-self: center; text-align: center">
                  <span
                    style="
                      padding: 2px;
                      background-color: #20c920;
                      color: white;
                      border-radius: 15px;
                      width: 50px;
                      display: block;
                      font-size: 12px;
                    "
                    *ngIf="item?.isPaid"
                    >PAID</span
                  >
                  <span
                    style="
                      padding: 2px;
                      background-color: #e02d00;
                      color: white;
                      border-radius: 15px;
                      width: 50px;
                      display: block;
                      font-size: 12px;
                    "
                    *ngIf="!item?.isPaid"
                    >UNPAID</span
                  >
                </div>
              </div>
            </mat-list-item>
          </mat-list>

          <mat-divider></mat-divider>
          <br />
          <div
            *ngIf="transaction?.productTransactions?.length > 0"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              font-size: 15px;
              font-weight: bold;
            "
          >
            <span>BALANCE</span>
            <span>{{ transaction.balanceFormatted }}</span>
          </div>
          <br />
          <div
            *ngIf="transaction?.productTransactions?.length > 0"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              font-size: 15px;
              font-weight: bold;
            "
          >
            <span>TOTAL</span>
            <span>{{ transaction.totalFormatted }}</span>
          </div>
        </div>

        <div class="panel__footer-section">
          <button
            mat-raised-button
            color="primary"
            style="width: 100%"
            (click)="markTransactionAsPaid()"
            [disabled]="!transaction?.hasUnpaidProductTransaction"
          >
            Mark as paid
          </button>
        </div>
      </div>
    </div>
  </div>
</app-loader-layout>
