<app-tool-bar [title]="transaction?.store?.name"> </app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container">
    <div class="panel transaction-details-panel">
      <div class="panel__details-group-panel transaction-details-panel__details-group-panel">
        <div class="panel__header-section">
          {{
          "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.HEADER_TITLE" | translate
          }}
        </div>
        <div class="panel__body-section transaction-details-panel__body-section">
          <div class="product-transaction-amount-information">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.REGISTERED_DATE_CONTROL.LABEL"
              | translate
              }}:</span>
            <span>{{ transaction?.transactionDateFormatted }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.DUE_DATE_CONTROL.LABEL"
              | translate
              }}:</span>
            <span>{{ transaction?.dueDateFormatted }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.TRANSACTION_NO_CONTROL.LABEL"
              | translate
              }}:</span>
            <span>{{ transaction?.invoiceNo }}</span>
          </div>
          <br />
          <mat-divider></mat-divider>
          <div class="product-transaction-list-container">
            <mat-list role="list" class="product-transaction-list">
              <mat-list-item *ngFor="let item of transaction?.productTransactions" role="listitem">
                <div [ngClass]="{ unpaid: !item?.isPaid }" class="product-transaction-list__item-section">
                  <div class="product-transaction-information">
                    <span>
                      ({{
                      "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.CODE"
                      | translate
                      }}: {{ item.product?.code }})
                      ({{
                      "PRODUCTS_CATALOGUE_PAGE.PRODUCT_CARD_ITEM.UNIT"
                      | translate
                      }}: {{ item.product?.productUnit?.name }})
                      <br />
                      {{ item.product?.name }}
                    </span>
                    <span>
                      <span>X</span>
                      <span>{{ item.quantity }}</span>
                    </span>
                  </div>

                  <div class="product-transaction-information-price">
                    <span>{{ item?.priceFormatted }}</span>
                  </div>

                  <div class="product-transaction-information-status">
                    <app-badge *ngIf="item?.isPaid" [type]="bannerTypeEnum.SUCCESS"
                      [textIdentifier]="'GENERAL_TEXTS.PAID'"></app-badge>
                    <app-badge *ngIf="!item?.isPaid" [type]="bannerTypeEnum.ERROR"
                      [textIdentifier]="'GENERAL_TEXTS.UNPAID'"></app-badge>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>

          <br />
          <div class="product-transaction-amount-information" *ngIf="transaction?.productTransactions?.length > 0">
            <span>{{ "GENERAL_TEXTS.BALANCE" | translate }}</span>
            <span>{{ transaction.balanceFormatted }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information"
            *ngIf="transaction?.productTransactions?.length > 0 && transaction.badOrderAmount > 0">
            <span>{{ "GENERAL_TEXTS.BAD_ORDERS_AMOUNT" | translate }}</span>
            <span>{{ transaction.badOrderFormatted }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information" *ngIf="transaction?.productTransactions?.length > 0">
            <span>{{ "GENERAL_TEXTS.GROSS_TOTAL" | translate }}</span>
            <span>{{ transaction.grossTotalFormatted }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information" *ngIf="transaction?.productTransactions?.length > 0">
            <span>{{
              "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.DISCOUNT_CONTROL.LABEL"
              | translate
              }}</span>
            <span>{{ transaction.discount }}</span>
          </div>
          <br />
          <div class="product-transaction-amount-information" *ngIf="transaction?.productTransactions?.length > 0">
            <span>{{ "GENERAL_TEXTS.NET_TOTAL" | translate }}</span>
            <span>{{ transaction.netTotalFormatted }}</span>
          </div>

          <div class="product-transaction-mode-of-payment-information" [formGroup]="transactionForm">
            <mat-form-field appearance="fill">
              <mat-label>{{
                "PRODUCT_CART_PAGE.FORM_CONTROL_SECTION.PAYMENT_METHOD_CONTROL.LABEL"
                | translate
                }}:</mat-label>
              <mat-select formControlName="paymentMethod">
                <mat-option *ngFor="let paymentMethod of paymentMethodOptions" [value]="paymentMethod.id">{{
                  paymentMethod.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="panel__footer-section transaction-details-panel__footer-section">

          @if(transaction?.hasUnpaidProductTransaction){
          <button mat-raised-button color="primary" (click)="markTransactionAsPaid(true)">
            {{ "GENERAL_TEXTS.MARK_AS_PAID" | translate }}
          </button>
          } @else {
          <button mat-raised-button color="default" (click)="markTransactionAsPaid(false)">
            {{ "GENERAL_TEXTS.MARK_AS_UNPAID" | translate }}
          </button>
          }
          <br>

          <button mat-raised-button color="primary" (click)="saveTransaction()">
            {{ "GENERAL_TEXTS.SAVE_CHANGES" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</app-loader-layout>
