.text-order-container {
  height: 65vh;

  .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .panel__body-section {
    flex: 1;

    mat-hint {
      font-size: 11px;
    }

    .page-information-description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .page-information-description {
        width: 90%;
      }
    }
  }

  .panel__footer-section {
    button {
      width: 100%;
    }
  }
}
