.text-order-container {
  .panel {
    display: flex;
    flex-direction: column;
  }

  .panel__body-section {
    flex: 1;

    mat-hint {
      font-size: 11px;
    }

    .page-information-description-container {
      display: flex;
      align-items: end;
      flex-direction: column;
    }
  }

  .panel__footer-section {
    button {
      width: 100%;
    }
  }
}
