<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate">
</app-tool-bar>
<app-loader-layout [busy]="false">
  <div class="page-container slide-in-left-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "SETTINGS_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "SETTINGS_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>

    <div class="settings-module-list">
      @for (item of settingsModule; track $index) {
      <div class="settings-module-item-container" (click)="goToUrl(item.url)">
        <div matRipple class="settings-module-item-container__settings-module-item-icon-container">
          <div class="settings-module-item-icon">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
        </div>
        <div matRipple class="settings-module-item-container__settings-module-info-container">
          <div class="settings-module-info">
            <span class="settings-module-info__settings-name">{{ item.label }}
            </span>
            <span class="settings-module-info__settings-description">{{ item.description }}</span><br>
          </div>
          <div class="settings-module-actions">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</app-loader-layout>
