<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate" [showBackButton]="false">
  <button mat-icon-button class="toolbar-option" (click)="openTextParserDialog()">
    <mat-icon matBadgeColor="warn">add_comment</mat-icon>
  </button>
  <button mat-icon-button [disabled]="itemCounter === 0" class="toolbar-option" (click)="goToCart()" *ngIf="
      currentUserPermission < getPermissionLevel(permissionLevelEnum.Manager)
    ">
    <mat-icon [matBadge]="itemCounter" [matBadgeHidden]="itemCounter === 0" matBadgeColor="warn"
      aria-hidden="false">shopping_cart</mat-icon>
  </button>
  <!-- I think this is not needed anymore since we have introduced an account portal for managers. -->
  <!-- <mat-icon
    matRipple
    [matMenuTriggerFor]="menu"
    *ngIf="
      currentUserPermission < getPermissionLevel(permissionLevelEnum.Manager)
    "
    >more_vert</mat-icon
  >
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="openAllowManageProductDetailsDialog()"
      *ngIf="!allowManageProductDetails"
    >
      {{
        "PRODUCTS_CATALOGUE_PAGE.MANAGE_PRODUCT_DETAILS.ACTIVATE_MANAGE_PRODUCT_DETAILS"
          | translate
      }}
    </button>
    <button
      mat-menu-item
      (click)="deactivateAllowManageProductDetailsDialog()"
      *ngIf="allowManageProductDetails"
    >
      {{
        "PRODUCTS_CATALOGUE_PAGE.MANAGE_PRODUCT_DETAILS.DEACTIVATE_MANAGE_PRODUCT_DETAILS"
          | translate
      }}
    </button>
  </mat-menu> -->
</app-tool-bar>
<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container slide-in-left-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "PRODUCTS_CATALOGUE_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "PRODUCTS_CATALOGUE_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>
    <div *ngIf="
        currentUserPermission > getPermissionLevel(permissionLevelEnum.User)
      " class="product-current-sales-agent-picker-container">
      <mat-form-field appearance="fill">
        <mat-label>{{
          "PRODUCTS_CATALOGUE_PAGE.SALES_AGENT_SELECT_CONTROL.LABEL"
          | translate
          }}:</mat-label>
        <mat-select [(ngModel)]="currentSalesAgentId" (selectionChange)="switchSaleAgent($event)">
          <mat-option *ngFor="let salesAgent of salesAgents" [value]="salesAgent.id">{{ salesAgent.fullname
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-search-field (onSearch)="onSearch($event)" (onClear)="onClear()" [placeHolderTextIdentifier]="
        'PRODUCTS_CATALOGUE_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER'
      "></app-search-field>

    <div class="product-total-count-container" *ngIf="filterKeyword?.length > 0">
      <span>{{ 'PRODUCTS_CATALOGUE_PAGE.PRODUCT_SEARCH_RESULT_CONTAINER.LABEL' | translate }}: </span><span
        class="product-total-count-container__value">{{ totalProducts }} items</span>
    </div>

    <div class="product-total-count-container"
      *ngIf="filterKeyword?.length === 0 && currentUserPermission === getPermissionLevel(permissionLevelEnum.User)">
      <span>{{ 'PRODUCTS_CATALOGUE_PAGE.PRODUCT_COUNTER_CONTAINER.LABEL' | translate }}: </span><span
        class="product-total-count-container__value">{{ totalProducts }} items</span>
    </div>

    <app-list-container [templateType]="emptyEntityTemplateEnum.PRODUCTS" [count]="dataSource?.itemCount">
      <cdk-virtual-scroll-viewport itemSize="10" orientation="vertical" class="list-container product-list">
        <div *cdkVirtualFor="let item of dataSource">
          <app-product-card-item [productItem]="item" [filterKeyword]="filterKeyword" [hideDeductionCounterIcon]="currentUserPermission >
            getPermissionLevel(permissionLevelEnum.User)" [allowManageItem]="
              currentUserPermission >
                getPermissionLevel(permissionLevelEnum.User) ||
              allowManageProductDetails
            " (editItem)="editProduct($event)" (deleteItem)="deleteProduct($event)"
            (selectItem)="addItemToCart($event)" (transferProduct)="transferProductInventory($event)"
            (addStockQuantity)="addProductStockQuantity($event)"></app-product-card-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
    <div *ngIf="
        currentSalesAgentId === 0 &&
        currentUserPermission > getPermissionLevel(permissionLevelEnum.User)
      " class="no-selected-sales-agent-label-container">
      <div class="no-selected-sales-agent-label">
        <mat-icon>person_pin</mat-icon>
        <label>{{
          "PRODUCTS_CATALOGUE_PAGE.SALES_AGENT_SELECT_CONTROL.HINT" | translate
          }}</label>
      </div>
    </div>
  </div>

  <app-floating-button *ngIf="
      currentUserPermission > getPermissionLevel(permissionLevelEnum.User) ||
      allowManageProductDetails
    " (tapButton)="addProduct()" [icon]="'add'"></app-floating-button>
</app-loader-layout>
