<app-tool-bar
  [title]="'GENERAL_TEXTS.BEELINA' | translate"
  [showBackButton]="false"
>
  <button
    mat-icon-button
    class="toolbar-option"
    (click)="openTextOrderDialog()"
  >
    <mat-icon matBadgeColor="warn">add_comment</mat-icon>
  </button>
  <button
    mat-icon-button
    [disabled]="itemCounter === 0"
    class="toolbar-option"
    (click)="goToCart()"
  >
    <mat-icon
      [matBadge]="itemCounter"
      [matBadgeHidden]="itemCounter === 0"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
</app-tool-bar>
<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "PRODUCTS_CATALOGUE_PAGE.TITLE" | translate }}</label
      ><br />
      <span class="page-information-description">{{
        "PRODUCTS_CATALOGUE_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>

    <app-search-field
      (onSearch)="onSearch($event)"
      [placeHolderTextIdentifier]="
        'PRODUCTS_CATALOGUE_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER'
      "
    ></app-search-field>

    <app-list-container
      [templateType]="emptyEntityTemplateEnum.PRODUCTS"
      [count]="dataSource.itemCount"
    >
      <cdk-virtual-scroll-viewport
        itemSize="30"
        orientation="vertical"
        class="list-container product-list"
      >
        <div *cdkVirtualFor="let item of dataSource">
          <app-product-card-item
            [productItem]="item"
            [allowManageItem]="true"
            (editItem)="editProduct($event)"
            (deleteItem)="deleteProduct($event)"
            (addItem)="addItemToCart($event)"
          ></app-product-card-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>

  <app-floating-button
    (tapButton)="addProduct()"
    [icon]="'add'"
  ></app-floating-button>
</app-loader-layout>
