@import "../../app-variables";

.product-item {
  height: 15em;

  &__header {
    color: $white;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    padding: 15px 10px 6px;
  }

  &__body {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex: 1;

    mat-icon {
      height: 55px;
      width: 85px;
      font-size: 6em;
      align-self: center;
      color: #d89c2a;
    }
  }

  &__footer {
    padding: 1em;

    .product-info {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &__label {
        font-weight: bold;
      }
    }
  }
}
