@import "../../app-variables";

.product-current-sales-agent-picker-container {
  mat-form-field {
    width: 100%;
  }
}

.product-total-count-container {

  &__value {
    padding: 5px 10px;
    background-color: $primary;
    border-radius: 15px;
    color: $white;
  }
}

.no-selected-sales-agent-label-container {
  display: flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;

  .no-selected-sales-agent-label {
    display: flex;
    align-items: center;
  }
}

.product-list {
  height: 72vh;
}
