@import "../../app-variables";

.product-current-sales-agent-picker-container {
  mat-form-field {
    width: 100%;
  }
}

.product-list-status-bar-container {
  min-height: 2em;
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5em;

  &__total-value-section,
  &__total-products-counter-section,
  &__search-result-counter-section {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    &--wrap {
      width: 100%;
    }

    span {
      color: $alt-text-color;
      font-weight: 500;
    }

    .value {
      min-width: 80px;
    }
  }
}

.no-selected-sales-agent-label-container {
  display: flex;
  flex-direction: column;

  &__label {
    align-self: center;
  }
}

.product-list {
  height: 72vh;
}
