<app-tool-bar [title]="'GENERAL_TEXTS.BEELINA' | translate">
  <button
    mat-icon-button
    [disabled]="itemCounter === 0"
    class="toolbar-option"
    (click)="goToCart()"
  >
    <mat-icon
      [matBadge]="itemCounter"
      [matBadgeHidden]="itemCounter === 0"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
</app-tool-bar>
<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="search-field-container">
        <input
          type="text"
          class="txt-search-field"
          formControlName="filterKeyword"
          placeholder="{{
            'PRODUCTS_CATALOGUE_PAGE.SEARCH_TEXT_FIELD.PLACEHOLDER' | translate
          }}"
        />
        <button type="submit" mat-fab color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

    <cdk-virtual-scroll-viewport
      itemSize="60"
      orientation="vertical"
      class="list-container product-list"
    >
      <div *cdkVirtualFor="let item of dataSource">
        <div matRipple class="product-item list-container__card-item">
          <div class="list-container__card-item-header product-item__header">
            <mat-icon
              matBadge="0"
              matBadgeHidden="true"
              matBadgeColor="warn"
              (click)="addItemToCart(item.id)"
              >add_shopping_cart</mat-icon
            >
            <mat-icon matRipple [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editProduct(item.id)">
                <mat-icon>border_color</mat-icon> Edit
              </button>
              <button mat-menu-item (click)="deleteProduct(item.id)">
                <mat-icon>delete</mat-icon> Delete
              </button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
          <div class="list-container__card-item-body product-item__body">
            <mat-icon>card_giftcard</mat-icon>
          </div>
          <div class="list-container__card-item-footer product-item__footer">
            <div class="product-info">
              <span class="product-info__label">Name: </span
              ><span>{{ item.name }}</span>
            </div>
            <div class="product-info">
              <span class="product-info__label">Stock: </span
              ><span>{{ item.stockQuantity }}</span>
            </div>
            <div class="product-info">
              <span class="product-info__label">Price: </span
              ><span>{{ item.priceFormatted }}</span>
            </div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <app-floating-button
    (tapButton)="addProduct()"
    [icon]="'add'"
  ></app-floating-button>
</app-loader-layout>
