@import "../../../../app-variables";

.sales-agent-container {

  .sales-agent-list {
    height: 65vh;

    &__item-section {
      margin-left: 0.5em;
      margin-right: 0.5em;
      cursor: pointer;

      &--active {
        background: $primary-gradient;
      }

      &:hover {
        box-shadow: 0px 0px 15px 4px rgb(0 0 0 / 25%);
      }

      .item-container {
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: space-between;
        width: 100%;

        &__user-image {
          border: 3px $primary solid;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        &__user-name {
          flex: 1;
        }
      }
    }
  }
}
