<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate">
  <button mat-icon-button class="toolbar-option" (click)="openFilter()">
    <mat-icon [ngClass]="{
        'icon-active': isFilterActive
      }" matBadgeColor="warn">filter_list</mat-icon>
  </button>
</app-tool-bar>

<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container slide-in-left-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "MANAGE_PRODUCT_STOCK_AUDITS_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "MANAGE_PRODUCT_STOCK_AUDITS_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>

    <app-list-container [templateType]="emptyEntityTemplateEnum.PRODUCTS" [count]="dataSource.itemCount">
      <cdk-virtual-scroll-viewport itemSize="10" class="list-container product-stock-audit-list">
        <div *cdkVirtualFor="let item of dataSource">
          <div matRipple
            class="list-container__item-section list-container__item-section--justify-content-space-between">
            <div class="product-stock-audit-list__item-section">
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_LABEL' | translate }}:</b>

                @if (item.stockAuditSource === 'FROM_WITHDRAWAL') {
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--from-withdrawal">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.FROM_WITHDRAWAL' | translate }}</span>
                }

                @if (item.stockAuditSource === 'MOVED_FROM_OTHER_PRODUCT_INVENTORY') {
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--moved-from-other-product-inventory">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.MOVED_FROM_OTHER_PRODUCT_INVENTORY' |
                  translate }}</span>
                }

                @if (item.stockAuditSource === 'MOVED_TO_OTHER_PRODUCT_INVENTORY') {
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--moved-to-other-product-inventory">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.MOVED_TO_OTHER_PRODUCT_INVENTORY' |
                  translate }}</span>
                }

                @if (item.stockAuditSource === 'ORDER_TRANSACTION') {
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--order-transaction">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.ORDER_TRANSACTION' |
                  translate }}</span>
                }

                @if (item.stockAuditSource === 'ORDER_FROM_SUPPLIER') {
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--order-from-supplier">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.ORDER_FROM_SUPPLIER' |
                  translate }}</span>
                }

              </div>
              <div class="product-stock-audit-list__info-section">

                @if (item.stockAuditSource === 'FROM_WITHDRAWAL') {
                <span><b>{{
                    'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.WITHDRAWAL_SLIP_NO_LABEL' | translate }}:</b></span>
                }

                @if (item.stockAuditSource === 'ORDER_TRANSACTION') {
                <span><b>{{
                    'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.INVOICE_NO_LABEL' | translate }}:</b></span>
                }

                @if (item.stockAuditSource === 'ORDER_FROM_SUPPLIER') {
                <span><b>{{
                    'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.PURCHASED_ORDER_NO_LABEL' | translate }}:</b></span>
                }

                {{ item.transactionNumber }}

                @if (item.stockAuditSource === 'ORDER_FROM_SUPPLIER') {
                <span><br><b>{{
                    'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.PLATE_NO_LABEL' | translate }}:</b></span>
                }

                {{ item.plateNo }}
              </div>
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.QUANTITY_LABEL' | translate }}:</b> {{ item.quantity
                }}</div>
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.MODIFIED_DATE_LABEL' | translate }}:</b> {{
                item.dateCreatedFormatted }}</div>
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.MODIFIED_BY_LABEL' | translate }}:</b> {{
                item.modifiedBy
                }}</div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</app-loader-layout>
