<div class="dialog-container">
  <div class="dialog-container__title">
    <mat-icon>question_answer</mat-icon>
    <label>{{ data.title }}</label>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-container__message">
    <p>{{ data.message }}</p>
  </div>
  <div class="dialog-container__confirmation-buttons">
    <button mat-button mat-raised-button color="primary" (click)="onConfirm()">
      {{ "DIALOG.CONFIRM_DIALOG_BUTTONS.CONFIRM" | translate }}
    </button>
    <button mat-button mat-raised-button (click)="onCancel()">
      {{ "DIALOG.CONFIRM_DIALOG_BUTTONS.CANCEL" | translate }}
    </button>
  </div>
</div>
