<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate"></app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container slide-in-left-animation">

    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "PRODUCT_WITHDRAWAL_DETAILS_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">
        {{ "PRODUCT_WITHDRAWAL_DETAILS_PAGE.DESCRIPTION" | translate }}
      </span>
    </div>

    <!-- Product Withdrawal General Info Panel -->
    <div class="panel panel--full-width product-withdrawal-panel">
      <div [formGroup]="productWithdrawalDetailsForm" class="panel__details-group-panel">
        <div class="panel__body-section">
          <div class="biz-form-container">

            <div class="form-general-section">
              <div class="form-column-direction">
                <div class="biz-form-container__form-control">
                  <label>{{
                    "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_GENERAL_INFO_PANEL.FORM_CONTROL_SECTION.SALES_AGENT_CONTROL.LABEL"
                    | translate }}</label>
                  <ng-select [items]="salesAgentDatasource" bindLabel="fullname" bindValue="id"
                    formControlName="userAccountId" [editableSearchTerm]="true">
                    <ng-template ng-label-tmp let-item="item">
                      {{ item.fullname }}
                    </ng-template>
                  </ng-select>
                </div>

                <div class="biz-form-container__form-control">
                  <label>{{
                    "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_GENERAL_INFO_PANEL.FORM_CONTROL_SECTION.STOCK_ENTRY_DATE_CONTROL.LABEL"
                    | translate }}</label>
                  <input type="date" class="date-picker-control" formControlName="stockEntryDate">
                </div>
              </div>

              <div class="form-column-direction">
                <div class="biz-form-container__form-control">
                  <label>{{
                    "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_GENERAL_INFO_PANEL.FORM_CONTROL_SECTION.WITHDRAWAL_SLIP_NO_CONTROL.LABEL"
                    | translate }}</label>
                  <input type="text" class="reference-no-control" formControlName="withdrawalSlipNo"
                    [ngClass]="{ 'is-invalid': (productWithdrawalDetailsForm.get('withdrawalSlipNo').hasError('required') || productWithdrawalDetailsForm.get('withdrawalSlipNo').hasError('productWithdrawalAlreadyExists')) && productWithdrawalDetailsForm.get('withdrawalSlipNo').touched }">

                  @if(productWithdrawalDetailsForm.get('withdrawalSlipNo').hasError('productWithdrawalAlreadyExists')) {
                  <span class="biz-form-container__form-control--error-message">{{
                    "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_GENERAL_INFO_PANEL.FORM_CONTROL_SECTION.WITHDRAWAL_SLIP_NO_CONTROL.ALREADY_EXIST_ERROR_MESSAGE"
                    | translate }}</span>
                  }
                </div>
              </div>
            </div>

            <div class="form-notes-section">
              <div class="biz-form-container__form-control">
                <label>{{
                  "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_GENERAL_INFO_PANEL.FORM_CONTROL_SECTION.NOTES_CONTROL.LABEL"
                  | translate }}</label>
                <textarea type="text" class="notes-control" formControlName="notes"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Withdrawal Items Panel -->
    <div class="panel panel--full-width product-withdrawal-items-panel">
      <div class="panel__details-group-panel">

        <div class="panel__header-section">
          <label>{{ "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TITLE" | translate }}</label>
        </div>

        <div class="panel__body-section product-withdrawal-items-panel__body-section">
          <mat-table class="biz-form-container" [dataSource]="productWithdrawalItemsTableDatasource">
            <!-- Product Column -->
            <ng-container matColumnDef="product">
              <mat-header-cell *matHeaderCellDef> {{
                "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.COLUMN_DEFINITION.PRODUCT_FIELD"
                |
                translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;">

                <ng-select class="product-dropdown" appendTo="body" [items]="panelProductsDatasource"
                  bindLabel="nameWithUnit" bindValue="id" [(ngModel)]="element.productId" [editableSearchTerm]="true"
                  (ngModelChange)="onProductChange($event, element, i)">
                  <ng-template ng-label-tmp let-item="item">
                    {{ item.productUnit.name }} - {{ item.name }}
                  </ng-template>
                </ng-select>

              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef><b>{{
                  "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.FOOTER_DEFINITION.TOTAL_FIELD"
                  |
                  translate }}</b></mat-cell>
            </ng-container>

            <!-- Code -->
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef> {{
                "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.COLUMN_DEFINITION.CODE_FIELD"
                |
                translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.code }}
              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef></mat-cell>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> {{
                "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.COLUMN_DEFINITION.QUANTITY_FIELD"
                |
                translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="biz-form-container__form-control">
                  <input type="number" [(ngModel)]="element.quantity"
                    (ngModelChange)="onQuantityChange($event, element)" />
                </div>
              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef> <b>{{ totalQuantity }}</b> </mat-cell>
            </ng-container>

            <!-- Unit -->
            <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef> {{
                "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.COLUMN_DEFINITION.UNIT_FIELD"
                |
                translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.unit }}
              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef></mat-cell>
            </ng-container>

            <!-- Unit -->
            <ng-container matColumnDef="unitPrice">
              <mat-header-cell *matHeaderCellDef> {{
                "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.COLUMN_DEFINITION.UNIT_PRICE_FIELD"
                |
                translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="biz-form-container__form-control">
                  <input type="number" [(ngModel)]="element.unitPrice"
                    (ngModelChange)="onUnitPriceChange($event, element)" />
                </div>
              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef></mat-cell>
            </ng-container>

            <!-- Unit -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef> {{
                "PRODUCT_WITHDRAWAL_DETAILS_PAGE.PRODUCT_WITHDRAWAL_ITEMS_PANEL.TABLE_GRID.COLUMN_DEFINITION.AMOUNT_FIELD"
                |
                translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.formattedAmount }}
              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef> <b>{{ totalAmount }}</b> </mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;">
                <mat-icon class="delete-icon" (click)="removeEntry(element, i)">highlight_off</mat-icon>
              </mat-cell>
              <mat-cell mat-footer-cell *matFooterCellDef></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
          </mat-table>

          <div class="product-withdrawal-items-panel__button-container">
            <button mat-raised-button color="primary" (click)="addEntry()">{{ "GENERAL_TEXTS.ADD_ITEM" | translate
              }}</button>
          </div>

          <mat-paginator [pageSize]="10" [length]="productWithdrawalItemsTableDatasource.data.length "
            [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>

    <!-- Product Withdrawal Buttons Panel -->
    <div class="panel panel--full-width product-withdrawal-buttons-panel">
      <div class="panel__body-section product-withdrawal-buttons-panel__body-section">
        <button mat-raised-button color="warn" [disabled]="newProductWithdrawal"
          (click)="removeProductWithdrawal()"><mat-icon>delete_forever</mat-icon>{{ "GENERAL_TEXTS.DELETE" | translate
          }}</button>
        <button mat-raised-button color="primary" (click)="save()"><mat-icon>save</mat-icon>{{ "GENERAL_TEXTS.SAVE" |
          translate }}</button>
      </div>
    </div>

  </div>
</app-loader-layout>
