@import "../../../../app-variables";

.dialog-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;

  &__title {
    display: flex;
    label {
      font-size: 15px;
      font-weight: bold;
      display: flex;
      text-transform: uppercase;
      color: $primary;
    }

    mat-icon {
      margin-right: 10px;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    gap: 10px;

    mat-icon {
      font-size: 3em;
      height: auto;
      width: auto;
    }

    mat-icon.alert-icon {
      color: $error;
    }

    mat-icon.info-icon {
      color: $primary;
    }
  }

  mat-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__confirmation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1em;

    button {
      width: 50%;
    }
  }

  &__alert-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    button {
      width: 50%;
    }
  }
}
