<html>
  <head>
    <style>
      .details {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Hi #customername,</p>
    <p>Thank you for choosing Beelina!</p>
    <p>Below you will find your personal login details:</p>
    <p>
      <span><span class="details">Company:</span> #companyname</span>
      <br />
      <span><span class="details">Username:</span> #username</span>
      <br />
      <span><span class="details">Password:</span> #password</span>
    </p>
    <p>
      We hope you enjoy it!<br />
      Beelina
    </p>
  </body>
</html>
