<html>
  <head>
    <style>
      .details {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Hi #customername,</p>
    <p>Get started on your test period!</p>
    <p>
      Here, your login information comes to a demo account that shows what
      Beelina looks like and how it can help you with your business.
    </p>
    <p>
      Login to Reserbiz. You can already log in and see Reserbiz on your own.
    </p>
    <p>
      <span><span class="details">Company:</span> #companyname</span>
      <br />
      <span><span class="details">Username:</span> #username</span>
      <br />
      <span><span class="details">Password:</span> #password</span>
    </p>
    <p>Your test period is valid until #expirationdate</p>
    <p>
      We hope you enjoy it!<br />
      Beelina
    </p>
  </body>
</html>
