<app-tool-bar [title]="'GENERAL_TEXTS.BEELINA' | translate">
  <button mat-icon-button class="toolbar-option">
    <mat-icon matBadgeColor="warn">search</mat-icon>
  </button>
</app-tool-bar>

<app-loader-layout [busy]="false">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "TOP_PRODUCTS_PAGE.TITLE" | translate }}</label
      ><br />
      <span class="page-information-description">{{
        "TOP_PRODUCTS_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>

    <cdk-virtual-scroll-viewport
      itemSize="60"
      class="list-container top-products-list-container"
    >
      <div *cdkVirtualFor="let item of topProducts">
        <div
          matRipple
          class="list-container__item-section top-products-list-container__item-section"
        >
          <span class="product-information"
            ><span>({{ item.code }})</span> - {{ item.name }}</span
          >
          <span class="product-number-of-transaction">{{ item.count }}</span>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</app-loader-layout>
