@import "../../../app-variables";

.top-products-list-container {
  height: 100%;
  min-height: 400px;

  &__item-section {
    display: flex;
    justify-content: space-between;

    .product-information {
      font-weight: bold;
    }

    .product-number-of-transaction {
      min-width: 100px;
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }
}
