<app-tool-bar [title]="'GENERAL_TEXTS.BIZUAL' | translate" [showBackButton]="false">
</app-tool-bar>

<app-loader-layout [busy]="isLoading">
  <div class="page-container slide-in-left-animation">
    <div class="page-container__page-divider scale-in-center-animation">
      <label>{{ "TOP_PRODUCTS_PAGE.TITLE" | translate }}</label><br />
      <span class="page-information-description">{{
        "TOP_PRODUCTS_PAGE.DESCRIPTION" | translate
        }}</span>
    </div>

    <app-list-container [templateType]="emptyEntityTemplateEnum.TOP_PRODUCTS" [count]="dataSource?.itemCount">
      <cdk-virtual-scroll-viewport itemSize="10" class="list-container top-products-list-container">
        <div *cdkVirtualFor="let item of dataSource">
          <div matRipple class="list-container__item-section top-products-list-container__item-section">
            <span class="product-information"><span>({{ item.code }})</span> - {{ item.name }}</span>
            <app-badge class="product-number-of-transaction" [type]="bannerTypeEnum.SUCCESS"
              [label]="item.totalAmountFormatted"></app-badge>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</app-loader-layout>
