@import "../../../../app-variables";

.top-store-header-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;

  &__info-banner {
    flex: 1;
  }
}

.top-store-list-container {
  height: 15em;

  &__item-section {
    display: flex;
    justify-content: space-between;

    .product-information {
      font-weight: bold;
      width: 40%;
    }

    .product-number-of-transaction {
      min-width: 50px;
    }

    .product-total-sales-amount {
      min-width: 100px;
    }
  }
}
