<app-tool-bar
  [title]="'GENERAL_TEXTS.BEELINA' | translate"
  [showBackButton]="false"
>
  <button mat-icon-button class="toolbar-option" (click)="openFilter()">
    <mat-icon
      [ngClass]="{
        'icon-active': isFilterActive
      }"
      matBadgeColor="warn"
      >search</mat-icon
    >
  </button>
</app-tool-bar>

<app-loader-layout [busy]="$isLoading | async">
  <div class="page-container">
    <div class="page-container__page-divider">
      <label>{{ "TRANSACTION_HISTORY_PAGE.TITLE" | translate }}</label
      ><br />
      <span class="page-information-description">{{
        "TRANSACTION_HISTORY_PAGE.DESCRIPTION" | translate
      }}</span>
    </div>

    <app-list-container
      [templateType]="emptyEntityTemplateEnum.TRANSACTIONS"
      [count]="dataSource.itemCount"
    >
      <cdk-virtual-scroll-viewport itemSize="10" class="list-container">
        <div *cdkVirtualFor="let item of dataSource">
          <div
            matRipple
            class="transaction-date list-container__item-section list-container__item-section--justify-content-space-between"
            [ngClass]="{ unpaid: !item.allTransactionsPaid }"
            (click)="goToTransactionDate(item.transactionDate)"
          >
            <span>{{ item.transactionDateFormatted }}</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</app-loader-layout>
