@import "../../../../app-variables";

.product-stock-audit-container {
  &__page-container {
    background: $white;

    .product-stock-audit-list {
      height: 50vh;

      &__item-section {
        cursor: default;
      }

      &__info-section {
        margin: 5px 0;
      }

      &__source-type {
        padding: 5px;
        border-radius: 10px;
        font-weight: 500;
        color: $white;

        &--from-withdrawal {
          background-color: rgb(255, 171, 76);
        }

        &--moved-from-other-product-inventory {
          background-color: rgb(198 233 2);
        }

        &--moved-to-other-product-inventory {
          background-color: rgb(0 171 86);
        }

        &--order-transaction {
          background-color: rgb(90, 203, 255);
        }

        &--order-from-supplier {
          background-color: rgb(195, 90, 255);
        }
      }
    }
  }
}
