<div class="product-stock-audit-container">
  <div class="page-container product-stock-audit-container__page-container" *ngIf="productStockAuditDataSource">
    <div class="page-container__page-divider slide-in-left-animation">
      <label>{{ "DASHBOARD_ADMIN.DISTRIBUTION_PAGE.SALES_AGENT_DETAILS_SECTION.PRODUCT_STOCK_AUDIT_LIST_CONTAINER.TITLE"
        | translate }}</label><br />
      <span class="page-information-description">{{
        "DASHBOARD_ADMIN.DISTRIBUTION_PAGE.SALES_AGENT_DETAILS_SECTION.PRODUCT_STOCK_AUDIT_LIST_CONTAINER.DESCRIPTION" |
        translate
        }}</span>
    </div>

    <button mat-icon-button class="toolbar-option" (click)="openFilter()">
      <mat-icon [ngClass]="{
          'icon-active': isFilterActive
        }" matBadgeColor="warn">filter_list</mat-icon>
    </button>

    <app-list-container [templateSize]="_templateSize.SMALL" [templateType]="emptyEntityTemplateEnum.PRODUCTS"
      [count]="productStockAuditDataSource.itemCount">
      <cdk-virtual-scroll-viewport itemSize="10" class="list-container product-stock-audit-list">
        <div *cdkVirtualFor="let item of productStockAuditDataSource">
          <div matRipple
            class="list-container__item-section list-container__item-section--justify-content-space-between">
            <div class="product-stock-audit-list__item-section">
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_LABEL' | translate }}:</b>
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--from-withdrawal"
                  *ngIf="item.stockAuditSource === 'FROM_WITHDRAWAL'">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.FROM_WITHDRAWAL' | translate }}</span>
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--moved-from-other-product-inventory"
                  *ngIf="item.stockAuditSource === 'MOVED_FROM_OTHER_PRODUCT_INVENTORY'">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.MOVED_FROM_OTHER_PRODUCT_INVENTORY' |
                  translate }}</span>
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--moved-to-other-product-inventory"
                  *ngIf="item.stockAuditSource === 'MOVED_TO_OTHER_PRODUCT_INVENTORY'">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.MOVED_TO_OTHER_PRODUCT_INVENTORY' |
                  translate }}</span>
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--order-transaction"
                  *ngIf="item.stockAuditSource === 'ORDER_TRANSACTION'">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.ORDER_TRANSACTION' |
                  translate }}</span>
                <span
                  class="product-stock-audit-list__source-type product-stock-audit-list__source-type--order-from-supplier"
                  *ngIf="item.stockAuditSource === 'ORDER_FROM_SUPPLIER'">{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.SOURCE_TYPE.ORDER_FROM_SUPPLIER' |
                  translate }}</span>
              </div>
              <div class="product-stock-audit-list__info-section">
                <span *ngIf="item.stockAuditSource === 'FROM_WITHDRAWAL'"><b>{{
                    'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.WITHDRAWAL_SLIP_NO_LABEL' | translate }}:</b></span>
                <span *ngIf="item.stockAuditSource === 'ORDER_TRANSACTION'"><b>{{
                    'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.INVOICE_NO_LABEL' | translate }}:</b></span>
                {{ item.transactionNumber }}
              </div>
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.QUANTITY_LABEL' | translate }}:</b> {{ item.quantity
                }}</div>
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.MODIFIED_DATE_LABEL' | translate }}:</b> {{
                item.dateCreatedFormatted }}</div>
              <div class="product-stock-audit-list__info-section"><b>{{
                  'MANAGE_PRODUCT_STOCK_AUDITS_PAGE.LIST_ITEM.MODIFIED_BY_LABEL' | translate }}:</b> {{
                item.modifiedBy
                }}</div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </app-list-container>
  </div>
</div>
