<div class="product-filter-dialog-container">
  <div class="dialog-form-container__header">
    <span>{{ "PRODUCTS_CATALOGUE_PAGE.PRODUCT_FILTER_DIALOG.TITLE" | translate }}</span>
    <mat-icon (click)="onCancel()">cancel</mat-icon>
  </div>
  <div class="dialog-form-container__body" [formGroup]="productFilterForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ "PRODUCTS_CATALOGUE_PAGE.PRODUCT_FILTER_DIALOG.FORM_CONTROL_SECTION.SUPPLIER_CONTROL.LABEL" |
        translate }}:</mat-label>

      <mat-select formControlName="supplierId">
        <mat-option [value]="0">{{ "GENERAL_TEXTS.ALL" | translate }}</mat-option>
        @for(supplier of supplierStore.suppliers(); track supplier.id) {
        <mat-option [value]="supplier.id">{{ supplier.name
          }}</mat-option>
        }
      </mat-select>

    </mat-form-field>

  </div>
  <div class="dialog-form-container__footer">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="onConfirm()">
        {{ "GENERAL_TEXTS.CONFIRM" | translate }}
      </button>
      <button mat-raised-button color="default" (click)="onReset()">
        {{ "GENERAL_TEXTS.RESET" | translate }}
      </button>
    </div>
  </div>
</div>
