@import "../../app-variables";

.product-withdrawal-grid-container {
  margin-bottom: 2em;

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: $primary;
    cursor: pointer;
    color: $white;
  }

  .amount-cell {
    text-align: right;
    font-weight: 500;
  }
}
