@import "../../../app-variables";

mat-toolbar {
  background: $primary-gradient;
  z-index: 9999;

  .toolbar-container {
    display: flex;
    align-items: center;
    width: 100%;

    .title,
    .sidenav-toggle-icon {
      color: $white;
    }

    .toolbar-option-spacer {
      flex: 1 1 auto;
    }

    .toolbar-option {
      color: $white;
    }
  }
}
