<mat-toolbar>
  <div class="toolbar-container">

    @if (isHandset && !canGoBack) {
    <button type="button" mat-icon-button (click)="toggleDrawer()">
      <mat-icon class="sidenav-toggle-icon">menu</mat-icon>
    </button>
    }

    @if (canGoBack) {
    <button type="button" mat-icon-button (click)="onGoBack()">
      <mat-icon class="sidenav-toggle-icon">keyboard_arrow_left</mat-icon>
    </button>
    }

    <span class="title">{{ formattedTitle }}</span>
    <span class="toolbar-option-spacer"></span>
    <ng-content></ng-content>
  </div>
</mat-toolbar>
